*.pyc
/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
.sass-cache
/web/sass/*.css
/speeches/static/speeches/sass/*.css
django.mo
.apdisk
.DS_Store
chromedriver.log
*~
.noseids
*.swp
*.swo
django_sayit.egg-info
