# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

### General useful bits
psycopg2
pytz
six

### Django related
Django>=1.4.2
django-pagination
Django-Select2==4.2.2
django-qmethod
django-bleach
django-pipeline
django-pipeline-compass-rubygem

# For finding the lengths of MP3 files
audioread

### Django related registration
# The registration app is a little out of date - get it from the repo direct....
# django-registration
#-e hg+https://bitbucket.org/ubernostrum/django-registration@fad7080fe769#egg=django-registration
#django-registration-defaults

# Search engine
pyelasticsearch
django-haystack

# mySociety modules
mysociety-django-popolo==0.0.1
mysociety-django-sluggable==0.2.4
django-subdomain-instances==0.2
