# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

### General useful bits
PyYAML
psycopg2
python-memcached
python-dateutil<2
pytz

### Django related
Django>=1.4.2
South
django-pagination
Django-Select2
django-tastypie==0.9.16
django-qmethod
django-bleach
django-pipeline
django-pipeline-compass-rubygem
# Only for debugging, but very useful and easiest to just have it here
django-debug-toolbar

# Testing
selenium
mock

# For testing the types of files (using libmagic1):
python-magic

# For finding the lengths of MP3 files
audioread

### Django related registration
# The registration app is a little out of date - get it from the repo direct....
# django-registration
#-e hg+https://bitbucket.org/ubernostrum/django-registration@fad7080fe769#egg=django-registration
#django-registration-defaults

### Xapian is a full text search engine, and haystack a django interface to it.
### If you want to use this uncomment below, and probably add the
### '--enable-site-packages' argument to the pip install command in
### 'post_deploy_actions.bash'
# xapian-haystack
### NB: trying elasticsearch instead, as per Matthew
pyelasticsearch
django-haystack

# mySociety modules
popit-django==0.0.3
mysociety-django-sluggable==0.2.4
django-subdomain-instances==0.1

# We use nose to run the tests, which gets around various limitations
# with the built-in test runner:
django-nose==1.2

# Parse XML for akomantoso import
lxml
