{% extends "base.html" %}
{% block body_class %}content-page{% endblock %}
{% block instanceheader %}{% endblock %}
{% block title %}
Questions about SayIt
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Help</h1>
</div>
<dl>
  <dt id="1">
    What is SayIt?
    <a href="#1">#</a>
  </dt>
  <dd>
    <p>It’s an open source tool for making transcripts easy to read, search and share on the modern internet.</p>
  </dd>
  <dt id="2">
    What is a Poplus Component?
    <a href="#2">#</a>
  </dt>
  <dd>
    <p><a href="http://poplus.org/">Poplus</a> is a global collaboration of groups that believe it is currently too difficult and expensive to build effective new digital tools to help citizens exert power over institutions. Poplus Components are loosely joined tools, mostly structured as web services, that can be used to radically decrease the development time of empowerment sites and apps.</p>
  </dd>
  <dt id="3">
    Why try to make transcripts better?
    <a href="#3">#</a>
  </dt>
  <dd>
    <p>Transcripts are a kind of oil that greases the wheels of well-functioning societies. They let people discover when powerful people have made pronouncements that affect less powerful people. We believe that by making transcripts function better, more people will end up learning about decisions and opinions that affect their lives.</p>
  </dd>
  <dt id="4">
    What sort of people or organisations can SayIt help?
    <a href="#4">#</a>
  </dt>
  <dd>
    <p>Lots, including:</p>
    <ul>
      <li>Journalists, who want to store, search and publish both the transcripts of specific events, and databases of speeches and statements by politicians.</li>
      <li>Officials in courts, who want to produce transcripts that are quicker and easier to use.</li>
      <li>Official in parliaments and other assemblies, who want to make transcripts that the public and politicians can more easily make use of.</li>
      <li>Researchers who have records of interviews with subjects, who want that data to be quick and easy to access, even if private.</li>
      <li>Campaigners and activists who want to track what certain people say about key issues.</li>
    </ul>
  </dd>
  <dt id="5">
    Why is a SayIt transcript better than a PDF version?
    <a href="#5">#</a>
  </dt>
  <dd>
    <p>SayIt has several advantages over classic paper or PDF versions:</p>
    <ul>
    <li>The design is mobile responsive to make reading and navigation pleasant across devices, large and small</li>
    <li>Search within an entire database of speeches, for example a whole trial, or everything said by an elected assembly &ndash; better than opening hundreds of PDFs and searching manually.</li>
    <li>Search within one person’s speeches, even if they only speak occasionally; and each speech is linked to a person, making it easy to see everything someone has said.</li>
    <li>Easily share links to a single session (for example at a trial), or even a single speech within a session.</li>
    <li>Make your transcripts more likely to show up clearly in search engines.</li>
    <li>There’s an API for people who want to do more advanced text processing.</li>
    </ul>
  </dd>
  <dt id="6">
    How do I get a transcript online using SayIt?
    <a href="#6">#</a>
  </dt>
  <dd>
    <p>At present, the best way to get your transcript online is to work with us to convert your data to the right format, and get it uploaded to a deployment, either running on our servers or your own &ndash; <a href="/about/transcripts">more details</a>. This means that in the short-run we’ll be best able to work with technically skilled partners. Later on we’ll launch a version that will allow people without technical skills to login to an interface and author transcripts directly, through a web browser.</p>
  </dd>
  <dt id="7">
    Why do you call this an Alpha?
    <a href="#7">#</a>
  </dt>
  <dd>
    <p>In web development, ‘Alpha’ is the name for a release of a piece of
    software which is far from complete. In the case of SayIt, we are launching
    early so that we can learn more about what features people want us to
    build, and which are less important. SayIt will enter Beta when we are able
    to share the transcript authoring interface with users.</p>
  </dd>
  <dt id="8">
    Aren’t transcripts sort of old fashioned? Isn’t everything video now?
    <a href="#8">#</a>
  </dt>
  <dd>
    <p>Online video is definitely amazing stuff. But text transcripts offer
    certain virtues too, which makes them valuable in different ways. If you
    want to know whether a committee has been talking about you, or you want to
    subscribe to be sent alerts when your street gets mentioned by powerful
    people, then written transcripts, made of nicely structured data, are hard
    to beat. The ideal system would clearly mix written words, audio and video,
    and being open source we hope that SayIt can be integrated with other
    systems that specialise in AV. We&rsquo;re keen to talk to people running
    projects in this field.</p>
  </dd>
  <dt id="9">
    Is SayIt open source? Does it use open standards or open data?
    <a href="#9">#</a>
  </dt>
  <dd>
    <p>SayIt is open source, licensed under the Affero GPL, and you can check
    out the code in <a href="https://github.com/mysociety/sayit">our GitHub
    repo</a>. The data standard we use is a
    <a href="/about/developers">subset of the Akoma Ntoso</a> data standard
    &ndash; a standard developed specifically for use in parliaments and
    assemblies.</p>
  </dd>
  <dt id="10">
    Can I write a parser that loads data directly into SayIt on a daily or weekly basis?
    <a href="#10">#</a>
  </dt>
  <dd>
    <p>Yes &ndash; we’re keen to see people use the site like this. Please contact us so we can discuss how best to implement this so it works well for you and us.</p>
  </dd>
  <dt id="11">
    Does SayIt support languages other than English?
    <a href="#11">#</a>
  </dt>
  <dd>
    <p>mySociety is an international organisation, and we’re very keen to get the first non-English transcripts online as soon as possible. Please <a href="/about/community">contact us</a> if you want to help us launch a non-English SayIt site.</p>
  </dd>
  <dt id="12">
    I’m a developer who thinks this is cool. What’s the best thing for me to do?
    <a href="#12">#</a>
  </dt>
  <dd>
    <p>There are plenty of options! Please see our dedicated <a href="/about/developers">page for developers</a>.
  </dd>
  <dt id="13">
    Can SayIt sites be made private?
    <a href="#13">#</a>
  </dt>
  <dd>
    <p>Yes, please <a href="/about/community">contact us</a> if you want to discuss this feature. We understand that some organisations, for example newspapers, might want to run private databases of speeches for business purposes.</p>
  </dd>
  <dt id="14">
    Can SayIt be used to track speeches made in more than one place?
    <a href="#14">#</a>
  </dt>
  <dd>
    <p>Yes, you don’t just have to record one event, like a trial or a focus group. You can build up nicely structured database of quotes made by people across media sources, or from books and papers. We would like to see people use SayIt to build sites like ‘all public statements by the Prime Minister’.</p>
  </dd>
  <dt id="15">
    Who built this?
    <a href="#15">#</a>
  </dt>
  <dd>
    <p>SayIt was mainly built by <a href="http://mysociety.org">mySociety</a>, and more specifically by Matthew Somerville, a senior developer. It was designed by Martin Wright and project managed by Tom Steinberg.</p>
  </dd>
  <dt id="16">
    Who funded it?
    <a href="#16">#</a>
  </dt>
  <dd>
    <p>mySociety gets funding from various places, such as the <a href="http://www.opensocietyfoundations.org/">Open Society Foundation</a>, the <a href="http://www.omidyar.com/">Omidyar Network</a> and profits from our own commercial work. SayIt was mostly funded by a grant from <a href="http://www.google.com/giving/">Google.org</a>, though, for which we are very grateful. </p>
  </dd>
</dl>

{% endblock %}
