{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}About{% endblock %}

{% block content %}
<div class="page-header">
    <h1>About</h1>
</div>

<div class="row">
    <div class="large-8 columns">

<p>The Leveson Inquiry is a high profile public inquiry held in Britain. It was
initiated in response to the News International phone hacking scandal &ndash; a
scandal in which it emerged that newspapers had been illegally listening into
the voicemail of a great many people, ranging from celebrities to the victims
of crime. It was this last group, victims of serious crimes and their families,
that provoked a level of public outrage strong enough to lead to the
commissioning of the Leveson Inquiry, by the Government.

<p>The Inquiry itself received substantial media coverage. This coverage was
driven by two reasons &ndash; first the presence of many high profile celebrities,
giving testimony in public (JK Rowling and Hugh Grant were just two of the big
names present). The second reason was that news media companies were (and
remain) afraid that the Leveson Inquiry would lead to changes in the law that
would be unfavourable to them and (as they argued) to the public good.

<p>We have taken all of the official transcripts and have published them on
SayIt. This means you can search through all the speeches, or visit a speaker
page and browse or search through just their speeches. And in the list below,
you can access any day of testimony.

    </div>
    <div class="large-4 columns">
<h2>Introductory</h2>
<ul>
    <li> <a href="/hearing-6-september-2011">Hearing, 6 September 2011</a> </li>
    <li> <a href="/hearing-28-september-2011">Hearing, 28 September 2011</a> </li>
    <li> <a href="/hearing-4-october-2011">Hearing, 4 October 2011</a> </li>
    <li> <a href="/hearing-26-october-2011">Hearing, 26 October 2011</a> </li>
    <li> <a href="/hearing-31-october-2011">Hearing, 31 October 2011</a> </li>
</ul>

    </div>
</div>

<div class="row">
    <div class="large-4 columns">

<h2>Module 1</h2>
<ul>
    <li> <a href="/hearing-14-november-2011">Hearing, 14 November 2011</a> </li>
    <li> <a href="/hearing-15-november-2011">Hearing, 15 November 2011</a> </li>
    <li> <a href="/hearing-16-november-2011">Hearing, 16 November 2011</a> </li>
    <li> <a href="/hearing-21-november-2011">Hearing, 21 November 2011</a> </li>
    <li> <a href="/hearing-22-november-2011">Hearing, 22 November 2011</a> </li>
    <li> <a href="/hearing-23-november-2011">Hearing, 23 November 2011</a> </li>
    <li> <a href="/hearing-24-november-2011">Hearing, 24 November 2011</a> </li>
    <li> <a href="/hearing-28-november-2011">Hearing, 28 November 2011</a> </li>
    <li> <a href="/hearing-29-november-2011">Hearing, 29 November 2011</a> </li>
    <li> <a href="/hearing-30-november-2011">Hearing, 30 November 2011</a> </li>
    <li> <a href="/hearing-5-december-2011">Hearing, 5 December 2011</a> </li>
    <li> <a href="/hearing-6-december-2011">Hearing, 6 December 2011</a> </li>
    <li> <a href="/hearing-8-december-2011">Hearing, 8 December 2011</a> </li>
    <li> <a href="/hearing-9-december-2011">Hearing, 9 December 2011</a> </li>
    <li> <a href="/hearing-12-december-2011">Hearing, 12 December 2011</a> </li>
    <li> <a href="/hearing-13-december-2011">Hearing, 13 December 2011</a> </li>
    <li> <a href="/hearing-14-december-2011">Hearing, 14 December 2011</a> </li>
    <li> <a href="/hearing-15-december-2011">Hearing, 15 December 2011</a> </li>
    <li> <a href="/hearing-19-december-2011">Hearing, 19 December 2011</a> </li>
    <li> <a href="/hearing-20-december-2011">Hearing, 20 December 2011</a> </li>
    <li> <a href="/hearing-21-december-2011">Hearing, 21 December 2011</a> </li>
    <li> <a href="/hearing-9-january-2012">Hearing, 9 January 2012</a> </li>
    <li> <a href="/hearing-10-january-2012">Hearing, 10 January 2012</a> </li>
    <li> <a href="/hearing-11-january-2012">Hearing, 11 January 2012</a> </li>
    <li> <a href="/hearing-12-january-2012">Hearing, 12 January 2012</a> </li>
    <li> <a href="/hearing-16-january-2012">Hearing, 16 January 2012</a> </li>
    <li> <a href="/hearing-17-january-2012">Hearing, 17 January 2012</a> </li>
    <li> <a href="/hearing-18-january-2012">Hearing, 18 January 2012</a> </li>
    <li> <a href="/hearing-23-january-2012">Hearing, 23 January 2012</a> </li>
    <li> <a href="/hearing-24-january-2012">Hearing, 24 January 2012</a> </li>
    <li> <a href="/hearing-25-january-2012">Hearing, 25 January 2012</a> </li>
    <li> <a href="/hearing-26-january-2012">Hearing, 26 January 2012</a> </li>
    <li> <a href="/hearing-30-january-2012">Hearing, 30 January 2012</a> </li>
    <li> <a href="/hearing-31-january-2012">Hearing, 31 January 2012</a> </li>
    <li> <a href="/hearing-1-february-2012">Hearing, 1 February 2012</a> </li>
    <li> <a href="/hearing-2-february-2012">Hearing, 2 February 2012</a> </li>
    <li> <a href="/hearing-6-february-2012">Hearing, 6 February 2012</a> </li>
    <li> <a href="/hearing-7-february-2012">Hearing, 7 February 2012</a> </li>
    <li> <a href="/hearing-8-february-2012">Hearing, 8 February 2012</a> </li>
    <li> <a href="/hearing-9-february-2012">Hearing, 9 February 2012</a> </li>
</ul>

    </div>
    <div class="large-4 columns">

<h2>Module 2</h2>
<ul>
    <li> <a href="/hearing-27-february-2012">Hearing, 27 February 2012</a> </li>
    <li> <a href="/hearing-28-february-2012">Hearing, 28 February 2012</a> </li>
    <li> <a href="/hearing-29-february-2012">Hearing, 29 February 2012</a> </li>
    <li> <a href="/hearing-1-march-2012">Hearing, 1 March 2012</a> </li>
    <li> <a href="/hearing-5-march-2012">Hearing, 5 March 2012</a> </li>
    <li> <a href="/hearing-6-march-2012">Hearing, 6 March 2012</a> </li>
    <li> <a href="/hearing-7-march-2012">Hearing, 7 March 2012</a> </li>
    <li> <a href="/hearing-12-march-2012">Hearing, 12 March 2012</a> </li>
    <li> <a href="/hearing-13-march-2012">Hearing, 13 March 2012</a> </li>
    <li> <a href="/hearing-14-march-2012">Hearing, 14 March 2012</a> </li>
    <li> <a href="/hearing-15-march-2012">Hearing, 15 March 2012</a> </li>
    <li> <a href="/hearing-19-march-2012">Hearing, 19 March 2012</a> </li>
    <li> <a href="/hearing-20-march-2012">Hearing, 20 March 2012</a> </li>
    <li> <a href="/hearing-21-march-2012">Hearing, 21 March 2012</a> </li>
    <li> <a href="/hearing-26-march-2012">Hearing, 26 March 2012</a> </li>
    <li> <a href="/hearing-27-march-2012">Hearing, 27 March 2012</a> </li>
    <li> <a href="/hearing-28-march-2012">Hearing, 28 March 2012</a> </li>
    <li> <a href="/hearing-29-march-2012">Hearing, 29 March 2012</a> </li>
    <li> <a href="/hearing-2-april-2012">Hearing, 2 April 2012</a> </li>
    <li> <a href="/hearing-3-april-2012">Hearing, 3 April 2012</a> </li>
    <li> <a href="/hearing-4-april-2012">Hearing, 4 April 2012</a> </li>
    <li> <a href="/hearing-23-april-2012">Hearing, 23 April 2012</a> </li>
    <li> <a href="/hearing-24-april-2012">Hearing, 24 April 2012</a> </li>
    <li> <a href="/hearing-25-april-2012">Hearing, 25 April 2012</a> </li>
    <li> <a href="/hearing-26-april-2012">Hearing, 26 April 2012</a> </li>
    <li> <a href="/hearing-4-may-2012">Hearing, 4 May 2012</a> </li>
    <li> <a href="/hearing-9-may-2012">Hearing, 9 May 2012</a> </li>
</ul>

    </div>
    <div class="large-4 columns">

<h2>Module 3</h2>
<ul>
    <li> <a href="/hearing-10-may-2012">Hearing, 10 May 2012</a> </li>
    <li> <a href="/hearing-11-may-2012">Hearing, 11 May 2012</a> </li>
    <li> <a href="/hearing-14-may-2012">Hearing, 14 May 2012</a> </li>
    <li> <a href="/hearing-15-may-2012">Hearing, 15 May 2012</a> </li>
    <li> <a href="/hearing-16-may-2012">Hearing, 16 May 2012</a> </li>
    <li> <a href="/hearing-17-may-2012">Hearing, 17 May 2012</a> </li>
    <li> <a href="/hearing-21-may-2012">Hearing, 21 May 2012</a> </li>
    <li> <a href="/hearing-22-may-2012">Hearing, 22 May 2012</a> </li>
    <li> <a href="/hearing-23-may-2012">Hearing, 23 May 2012</a> </li>
    <li> <a href="/hearing-24-may-2012">Hearing, 24 May 2012</a> </li>
    <li> <a href="/hearing-25-may-2012">Hearing, 25 May 2012</a> </li>
    <li> <a href="/hearing-28-may-2012">Hearing, 28 May 2012</a> </li>
    <li> <a href="/hearing-29-may-2012">Hearing, 29 May 2012</a> </li>
    <li> <a href="/hearing-30-may-2012">Hearing, 30 May 2012</a> </li>
    <li> <a href="/hearing-31-may-2012">Hearing, 31 May 2012</a> </li>
    <li> <a href="/hearing-11-june-2012">Hearing, 11 June 2012</a> </li>
    <li> <a href="/hearing-12-june-2012">Hearing, 12 June 2012</a> </li>
    <li> <a href="/hearing-13-june-2012">Hearing, 13 June 2012</a> </li>
    <li> <a href="/hearing-14-june-2012">Hearing, 14 June 2012</a> </li>
    <li> <a href="/hearing-25-june-2012">Hearing, 25 June 2012</a> </li>
    <li> <a href="/hearing-26-june-2012">Hearing, 26 June 2012</a> </li>
    <li> <a href="/hearing-9-july-2012">Hearing, 9 July 2012</a> </li>
    <li> <a href="/hearing-10-july-2012">Hearing, 10 July 2012</a> </li>
    <li> <a href="/hearing-12-july-2012">Hearing, 12 July 2012</a> </li>
    <li> <a href="/hearing-13-july-2012">Hearing, 13 July 2012</a> </li>
    <li> <a href="/hearing-16-july-2012">Hearing, 16 July 2012</a> </li>
    <li> <a href="/hearing-17-july-2012">Hearing, 17 July 2012</a> </li>
    <li> <a href="/hearing-18-july-2012">Hearing, 18 July 2012</a> </li>
</ul>

<h2>Closing</h2>
<ul>
    <li> <a href="/hearing-23-july-2012">Hearing, 23 July 2012</a> </li>
    <li> <a href="/hearing-24-july-2012">Hearing, 24 July 2012</a> </li>
</ul>

    </div>
</div>

{% endblock %}
