{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load compressed %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static "speeches/mediaelement/mediaelementplayer.min.css" %}" rel="stylesheet">
<style>
.mejs-container { display: inline-block; }
label.checkbox.inline { float: none; display: inline; }
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% compressed_js 'sayit-admin' %}
<script>
$(function(){
    $('audio').mediaelementplayer();
    //soundManager.setup({
    //    url: '{% static "soundmanager2/swf/" %}'
    //});
});
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'SayIt administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'SayIt administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
