{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link href="{% static "speeches/mediaelement/mediaelementplayer.min.css" %}" rel="stylesheet">
<style>
.mejs-container { display: inline-block; }
label.checkbox.inline { float: none; display: inline; }
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "speeches/js/jquery.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "speeches/mediaelement/mediaelement-and-player.js" %}" charset="utf-8"></script>
<script>
$(function(){
    $('audio').mediaelementplayer();
    //soundManager.setup({
    //    url: '{% static "soundmanager2/swf/" %}'
    //});
});
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'SayIt administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'SayIt administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
