{% load staticfiles %}{% load url from future %}{% load i18n %}{% load compressed %}<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{% block fulltitle %}{% block title %}{% endblock %} :: SayIt{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:url" content="http://sayit.mysociety.org/">
        <meta property="og:title" content="Sayit">
        <meta property="og:site_name" content="Sayit">
        <meta property="og:description" content="Transcripts for the modern internet">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{% static "img/apple-touch-icon-152x152.png" %}">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="152">
        <meta property="og:image:height" content="152">

        {% if 'sayit.staging.mysociety.org' in request.get_host %}
            {% if request.instance %}
                <link rel="canonical" href="http://{{ request.instance.label }}.sayit.mysociety.org{{ request.get_full_path }}">
            {% else %}
                <link rel="canonical" href="http://sayit.mysociety.org{{ request.get_full_path }}">
            {% endif %}
        {% endif %}

        <link rel="icon" type="image/png" href="{% static "img/favicon-128.png" %}">
		    <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon" />
        <link href="{% static "img/apple-touch-icon-76x76.png" %}" rel="apple-touch-icon" sizes="76x76" />
        <link href="{% static "img/apple-touch-icon-120x120.png" %}" rel="apple-touch-icon" sizes="120x120" />
        <link href="{% static "img/apple-touch-icon-152x152.png" %}" rel="apple-touch-icon" sizes="152x152" />
        {% block extra_headers %}{% endblock %}

        {% block extra_css %}
        {% if request.instance.label == 'shakespeare' %}
            {% compressed_css 'sayit-shakespeare' %}
        {% else %}
            {% compressed_css 'sayit-default' %}
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
        {% endblock extra_css %}

        <script>
            var docEl = document.documentElement;
            docEl.className = docEl.className.replace(/\bno-js\b/,'') + ' js';
        </script>
        {% compressed_js 'sayit-default-head' %}
        <script src="{% static "javascripts/vendor/custom.modernizr.js" %}"></script>
        {% block extra_js_head %}{% endblock %}
        {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push (['_gat._anonymizeIp']);
          _gaq.push(['_setDomainName', 'sayit.mysociety.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
    </head>

    <body class="{% block body_class %}{% endblock %}" id="top">

      {% if settings.DEBUG %}
      <!-- temporary hide
            <div data-alert class="alert-box alert-box--header">
              {% trans "This is a staging site &ndash; any data saved here <strong>may be deleted</strong>." %}
              <a href="#" class="close">&times;</a>
            </div> -->
      {% endif %}
      <div class="ms-header">
          <nav class="ms-header__row">
             <a class="ms-header__logo" href="http://www.mysociety.org">mySociety</a>
          </nav>
      </div>
      <header class="brand-header">
        <div class="brand-header__row">
          <div class="brand-header__title-unit">
              <h1 class="brand-header__title"><a href="{{ settings.BASE_HOST }}">SayIt <span class="subtitle js-typewriter">&mdash; {% trans "Modern transcripts" %}</span></a></h1>
          </div>
          <nav class="brand-header__navigation">
            {% if request.instance %}
              <a href="{{ settings.BASE_HOST }}/#demos">{% trans "Other SayIt sites" %}</a>
            {% endif %}
          </nav>

          <div class="admin-menu-container">
            {% if request.user.is_authenticated %}
              <a href="#" data-dropdown="drop1" class="tiny secondary button dropdown admin-menu-button">{% trans "Admin" %}</a><br>

              <ul id="drop1" class="f-dropdown admin-menu">
                {% if request.is_user_instance %}
                  <li{% if request.path == '/speech/add' %} class="active"{% endif %}><a href="{% url 'speeches:speech-add' %}">{% trans "Add speech" %}</a>
                  <li{% if request.path == '/sections/add' %} class="active"{% endif %}><a href="{% url 'speeches:section-add' %}">{% trans "Add section" %}</a>
                  <li{% if request.path == '/speaker/add' %} class="active"{% endif %}><a href="{% url 'speeches:speaker-add' %}">{% trans "Add speaker" %}</a>
                  <li{% if request.path == '/speaker/popit' %} class="active"{% endif %}><a href="{% url 'speeches:speaker-popit' %}">{% trans "Add PopIt instance" %}</a>
                  <li{% if request.path == '/instance/edit' %} class="active"{% endif %}>
                      <a href="{% url 'instance-edit' %}">{% trans "Edit instance" %}</a>
                  </li>
                  <li{% if request.path == '/recordings' %} class="active"{% endif %}><a href="{% url 'speeches:recording-list' %}">{% trans "Your recordings" %}</a>
                  <li{% if request.path == '/instance/token' %} class="active"{% endif %}>
                      <a href="{% url 'tokens' %}">{% trans "Your token" %}</a>
                  </li>
                {% elif not request.instance %}
                  <li><a href="{% url 'tokens' %}">{% trans "Tokens" %}</a></li>
                {% endif %}
                  <li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/">{% trans "Log out" %}</a></li>
              </ul>
            {% endif %}
        </div>
        </div>
      </header>
      {% block instanceheader %}
      <header class="instance-header">
        <div class="instance-header__row">
          <div class="instance-header__title-unit">
              <div class="instance-header__title">
                <h1>
                  {% if request.instance %}
                    <a href="/">{% filter force_escape %}{% firstof request.instance.title request.instance.label %}{% endfilter %}</a>
                  {% else %}
                    <a href="{{ settings.BASE_HOST }}">SayIt</a>
                  {% endif %}
                </h1>
              </div>
            {% if request.instance.description %}
              <div class="instance-header__subtitle">
                <p>
                    {{ request.instance.description }}
                  {% if instance_about_page %}
                    <a href="/about">{% trans "More&hellip;" %}</a>
                  {% endif %}
                </p>
              </div>
            {% endif %}
            </div>
          <div class="instance-header__search-nav">
            <nav class="primary-navigation-bar">

                <span class="menu-dropdown"><a href="#" class="button menu-dropdown--button">{% trans "Menu" %}</a></span>
                <ul class="nav-menu closed">
                  {% if request.instance %}

                    <li{% if request.path == '/' %} class="active"{% endif %}><a href="/">{% trans "Home" %}</a></li>
                    <li{% if nav_primary == 'speakers' or nav_primary == 'speaker' %} class="active"{% endif %}><a href="{% url 'speeches:speaker-list' %}">{% trans "Speakers" %}</a></li>
                    <li{% if nav_primary == 'speeches' or nav_primary == 'speech' or section_tree %} class="active"{% endif %}>
                      {% if instance_about_page %}
                        <a href="/about">{% trans "Speeches" %}</a>
                      {% else %}
                        <a href="{% url 'speeches:section-list' %}">{% trans "Speeches" %}</a>
                      {% endif %}
                    </li>
                  {% endif %}
                </ul>
            </nav>
            {% if request.path != '/search/' and request.path != '/' %}
              <form class="site-search site-search--header" action="/search/" method="get" >
                <div class="search-wrapper">
                    <input type="search" class="site-search__input" placeholder="{% trans "Search" %}" name="q"/>
                    <input type="submit" class="icon-search icon-search--white" value="{% trans "Go" %}"/>
                </div>
              </form>
            {% endif %}
            </div>
        </div>
      </header>
      {% endblock %}
        <div class="full-page">
          <div class="full-page__row">
            <div class="full-page__unit">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
                {% endfor %}
                  {% block content %}{% endblock %}
            </div>
          </div>
        </div>
        {% if request.instance %}
        <footer class="footer instance-footer">
          <div class="instance-footer__row">
            <div class="instance-footer__links">
              <ul>
                <li><a href="/" class="instance-title">{% filter force_escape %}{% firstof request.instance.title request.instance.label %}{% endfilter %}</a></li>
                {% if instance_about_page %}
                     <li><a href="/about">{% trans "About" %}</a></li>
                  {% endif %}
              </ul>
            </div>
            <div class="instance-footer__top-link">
              <a href="#top" class="button">{% trans "Back to top" %}</a>
            </div>
          </div>
        </footer>
        {% endif %}
        <footer class="footer brand-footer">
          <div class="brand-footer__row">
              <div class="about-sayit">
                <h2>{% trans "SayIt" %}</h2>
                <p>{% trans "An open source tool for making transcripts really easy to read, search and share on the modern web" %}</p>
              </div>
              <div class="footer-links">
                <div class="footer-links__column">
                  <ul>
                    <li><a href="http://www.mysociety.org/category/projects/sayit/">{% trans "Blog" %}</a></li>
                    <li><a href="http://twitter.com/sayitpoplus">{% trans "Twitter" %}</a></li>
                    <li><a href="https://www.facebook.com/sayitpoplus">{% trans "Facebook" %}</a></li>
                    <li><a href="https://github.com/mysociety/sayit">{% trans "GitHub" %}</a></li>
                  </ul>
                </div>
                <div class="footer-links__column">
                  <ul>
                    <li><a href="{{ settings.BASE_HOST }}/about/community">{% trans "Get involved" %}</a></li>
                    <li><a href="{{ settings.BASE_HOST }}/about/questions">{% trans "Help" %}</a></li>
                    <li><a href="{{ settings.BASE_HOST }}/about/developers">{% trans "Developers" %}</a></li>
                    <li><a href="{{ settings.BASE_HOST }}/about/transcripts">{% trans "Transcripts" %}</a></li>
                  </ul>
                </div>
                <div class="footer-links__column">
                  <ul>
                    <li><a href="http://leveson.sayit.mysociety.org">{% trans "The Leveson Inquiry" %}</a></li>
                    <li><a href="http://charles-taylor.sayit.mysociety.org">{% trans "Charles Taylor Trial" %}</a></li>
                    <li><a href="http://shakespeare.sayit.mysociety.org">{% trans "Plays of Shakespeare" %}</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-logos">
                <div class="footer-logos__column">
                  <a href="http://mysociety.org" class="footer-logo footer-logo--mysociety">{% trans "mySociety" %}</a>
                  <p>{% trans "A mySociety project" %}</p>
                </div>
                <div class="footer-logos__column">
                  <a href="http://poplus.org/" class="footer-logo footer-logo--poplus">{% trans "Poplus" %}</a>
                  <p>{% trans "A Poplus component" %}</p>
                </div>
              </div>
          </div>
        </footer>

        {% compressed_js 'sayit-default' %}
        {% block extra_js %}{% endblock %}

        <script>
        $( document ).ready(function() {
            //$(".js-typewriter").typewriter();
            $(".menu-dropdown").click(function() {
              $(".nav-menu").toggleClass('closed');
            });
        });
        </script>

        <script>
          $(document).foundation();
        </script>

    </body>
</html>
