{% load staticfiles %}{% load url from future %}{% load i18n %}{% load compressed %}<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{% block fulltitle %}{% block title %}{% endblock %} :: SayIt{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static "img/favicon-128.png" %}">
		    <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon" />
        <link href="{% static "img/apple-touch-icon-76x76.png" %}" rel="apple-touch-icon" sizes="76x76" />
        <link href="{% static "img/apple-touch-icon-120x120.png" %}" rel="apple-touch-icon" sizes="120x120" />
        <link href="{% static "img/apple-touch-icon-152x152.png" %}" rel="apple-touch-icon" sizes="152x152" />
        {% block extra_headers %}{% endblock %}
        {% if request.instance.label == 'shakespeare' %}
        <link href="{% static "stylesheets/app-shakespeare.css" %}" rel="stylesheet">
        <link href="{% static "stylesheets/speeches-shakespeare.css" %}" rel="stylesheet">
        {% else %}
        <link href="{% static "stylesheets/app.css" %}" rel="stylesheet">
        <link href="{% static "stylesheets/speeches.css" %}" rel="stylesheet">
        {% endif %}
        <!-- <link href="{% static "speeches/css/speeches.css" %}" rel="stylesheet"> -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
        {% block extra_css %}{% endblock %}

        <script>
            var docEl = document.documentElement;
            docEl.className = docEl.className.replace(/\bno-js\b/,'') + ' js';
        </script>
        {% block extra_js_head %}{% endblock %}
        {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push (['_gat._anonymizeIp']);
          _gaq.push(['_setDomainName', 'sayit.mysociety.org']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
        {% compressed_js 'default-head' %}
        <script src="{% static "javascripts/vendor/custom.modernizr.js" %}"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">

      {% if settings.DEBUG %}
      <!-- temporary hide
            <div data-alert class="alert-box alert-box--header">
              {% trans "This is a staging site &ndash; any data saved here <strong>may be deleted</strong>." %}
              <a href="#" class="close">&times;</a>
            </div> -->
      {% endif %}
      <div class="ms-header">
          <nav class="ms-header__row">
             <a class="ms-header__logo" target="_blank" href="http://www.mysociety.org">mySociety</a>
          </nav>
      </div>
      <header class="brand-header">
        <div class="brand-header__row">
          <div class="brand-header__title-unit">
              <h1 class="brand-header__title"><a href="{{ settings.BASE_HOST }}">SayIt <span class="subtitle js-typewriter">&mdash; Transcripts for the modern web</span></a></h1>
          </div>
          <nav class="brand-header__navigation">
            {% if request.instance %}
              <a href="#">About SayIt</a>
              <a href="#">Other SayIt sites</a>
            {% endif %}
          </nav>

          <div class="admin-menu-container">
            {% if request.user.is_authenticated %}
              <a href="#" data-dropdown="drop1" class="tiny secondary button dropdown admin-menu-button">Admin</a><br>

              <ul id="drop1" class="f-dropdown admin-menu">
                {% if request.is_user_instance %}
                  <li{% if request.path == '/speech/add' %} class="active"{% endif %}><a href="{% url 'speeches:speech-add' %}">Add speech</a>
                  <li{% if request.path == '/sections/add' %} class="active"{% endif %}><a href="{% url 'speeches:section-add' %}">Add section</a>
                  <li{% if request.path == '/speaker/add' %} class="active"{% endif %}><a href="{% url 'speeches:speaker-add' %}">Add speaker</a>
                  <li{% if request.path == '/speaker/popit' %} class="active"{% endif %}><a href="{% url 'speeches:speaker-popit' %}">Add PopIt instance</a>
                  <li{% if request.path == '/instance/edit' %} class="active"{% endif %}>
                      <a href="{% url 'instance-edit' %}">{% trans "Edit instance" %}</a>
                  </li>
                  <li{% if request.path == '/recordings' %} class="active"{% endif %}><a href="{% url 'speeches:recording-list' %}">Your recordings</a>
                  <li{% if request.path == '/instance/token' %} class="active"{% endif %}>
                      <a href="{% url 'tokens' %}">{% trans "Your token" %}</a>
                  </li>
                {% elif not request.instance %}
                  <li><a href="{% url 'tokens' %}">{% trans "Tokens" %}</a></li>
                {% endif %}
                  <li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/">{% trans "Log out" %}</a></li>
              </ul>
            {% endif %}
        </div>
        </div>
      </header>
      {% block instanceheader %}
      <header class="instance-header">
        <div class="instance-header__row">
          <div class="instance-header__title-unit">
              <div class="instance-header__title">
                <h1>
                  {% if request.instance %}
                    <a href="/">{% firstof request.instance.title request.instance.label %}</a>
                  {% else %}
                    <a href="{{ settings.BASE_HOST }}">SayIt</a>
                  {% endif %}
                </h1>
              </div>
            {% if request.instance.description %}
              <div class="instance-header__subtitle">
                <p>
                    {{ request.instance.description }}
                  {% if instance_about_page %}
                    <a href="/about">{% trans "More&hellip;" %}</a>
                  {% endif %}
                </p>
              </div>
            {% endif %}
            </div>
          <div class="instance-header__search-nav">
            <nav class="primary-navigation-bar">

                <span class="menu-dropdown"><a href="#" class="button menu-dropdown--button">Menu</a></span>
                <ul class="nav-menu closed">
                  {% if request.instance %}

                    <li{% if request.path == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
                    <li{% if nav_primary == 'speakers' or nav_primary == 'speaker' %} class="active"{% endif %}><a href="{% url 'speeches:speaker-list' %}">Speakers</a></li>
                    <li{% if nav_primary == 'speeches' or nav_primary == 'speech' or section_tree %} class="active"{% endif %}>
                      {% if instance_about_page %}
                        <a href="/about">{% trans "Speeches" %}</a>
                      {% else %}
                        <a href="{% url 'speeches:section-list' %}">{% trans "Speeches" %}</a>
                      {% endif %}
                    </li>
                  {% endif %}
                </ul>
            </nav>
            {% if request.path != '/search/' and request.path != '/' %}
              <form class="site-search site-search--header" action="/search/" method="get" >
                <div class="search-wrapper">
                    <input type="search" class="site-search__input" placeholder="Search" name="q"/>
                    <input type="submit" class="icon-search icon-search--white" value="Go"/>
                </div>
              </form>
            {% endif %}
            </div>
        </div>
      </header>
      {% endblock %}
        <div class="full-page">
          <div class="full-page__row">
            <div class="full-page__unit">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
                {% endfor %}
                  {% block content %}{% endblock %}
            </div>
          </div>
        </div>

        <footer class="brand-footer">
          <div class="brand-footer__row">
              <div class="about-sayit">
                <h2>SayIt</h2>
                <p>An open source tool for making transcripts really easy to read, search and share on the modern web</p>
              </div>
              <div class="footer-links">
                <div class="footer-links__column">
                  <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Github</a></li>
                  </ul>
                </div>
                <div class="footer-links__column">
                  <ul>
                    <li><a href="#">About SayIt</a></li>
                    <li><a href="#">Akomo Ntoso</a></li>
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Blog</a></li>
                  </ul>
                </div>
                <div class="footer-links__column">
                  <ul>
                    <li><a href="#">The Leveson Inquiry</a></li>
                    <li><a href="#">Charles Taylor Trial</a></li>
                    <li><a href="#">Plays of Shakespeare</a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-logos">
                <div class="footer-logos__column">
                  <a href="http://mysociety.org" class="footer-logo footer-logo--mysociety">mySociety</a>
                  <p>A mySociety project</p>
                </div>
                <div class="footer-logos__column">
                  <a href="http://poplus.org/" class="footer-logo footer-logo--poplus">Poplus</a>
                  <p>A Poplus component</p>
                </div>
              </div>
          </div>
        </footer>

        {% compressed_js 'default' %}
        {% block extra_js %}{% endblock %}

        <script>
        $( document ).ready(function() {
            //$(".js-typewriter").typewriter();
            $(".menu-dropdown").click(function() {
              $(".nav-menu").toggleClass('closed');
            });
        });
        </script>

        <script>
          $(document).foundation();
        </script>

    </body>
</html>
