<!DOCTYPE html>
<html>

    <head>
        <title>{% block fulltitle %}{% block title %}{% endblock %} :: Site Name{% endblock %}</title>
        <meta charset="utf-8">
        {# CSS #}
        {# JS #}
        {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endif %}
    </head>

    <body>
        {% if settings.DEBUG %}
        <div id="staging_header">This is a staging site &ndash; any data saved here <strong>may be deleted</strong>.</div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </body>
</html>
