{% extends 'base.html' %}
{% load i18n %}

{% block title %}About{% endblock %}

{% block content %}
<div class="page-header">
    <h1>About</h1>
</div>

<div class="row">
    <div class="large-8 columns">

        <p>William Shakespeare (1564 to 1616) is the most celebrated playwright
        in English history. As well as poetry he wrote 38 known plays, 37 of
        which are accessible via this demo website (sorry, we&rsquo;re missing
        Two Noble Kinsmen).</p>

        <p>We picked Shakespeare plays as a way of showing that SayIt can be
        used for forms of transcript other than modern political speech. In
        particular, the use of plays allows us to show that SayIt can cope with
        nested hierarchies of speech - Plays, Acts, Scenes and Speeches are all
        modelled in a hierarchy that preserves this important metadata, and
        makes for a pleasant navigation experience.</p>

        <p>This SayIt demo also allows you to search within the words of
        individual characters, as well as whole plays, a handy tool if you are
        trying to find a half-remembered line.</p>

    </div>
    <div class="large-4 columns">

<ul>
    <li><a href="/a-comedy-of-errors">A Comedy of Errors</a></li>
    <li><a href="/a-midsummer-nights-dream">A Midsummer Night&rsquo;s Dream</a></li>
    <li><a href="/a-winters-tale">A Winter&rsquo;s Tale</a></li>
    <li><a href="/alls-well-that-ends-well">All&rsquo;s Well That Ends Well</a></li>
    <li><a href="/antony-and-cleopatra">Antony and Cleopatra</a></li>
    <li><a href="/as-you-like-it">As You Like It</a></li>
    <li><a href="/coriolanus">Coriolanus</a></li>
    <li><a href="/cymbeline">Cymbeline</a></li>
    <li><a href="/hamlet">Hamlet</a></li>
    <li><a href="/henry-iv-part-i">Henry IV, Part I</a></li>
    <li><a href="/henry-iv-part-ii">Henry IV, Part II</a></li>
    <li><a href="/henry-v">Henry V</a></li>
    <li><a href="/henry-vi-part-1">Henry VI, Part 1</a></li>
    <li><a href="/henry-vi-part-2">Henry VI, Part 2</a></li>
    <li><a href="/henry-vi-part-3">Henry VI, Part 3</a></li>
    <li><a href="/henry-viii">Henry VIII</a></li>
    <li><a href="/julius-caesar">Julius Caesar</a></li>
    <li><a href="/king-lear">King Lear</a></li>
    <li><a href="/loves-labors-lost">Love&rsquo;s Labor&rsquo;s Lost</a></li>
    <li><a href="/macbeth">Macbeth</a></li>
    <li><a href="/measure-for-measure">Measure for Measure</a></li>
    <li><a href="/much-ado-about-nothing">Much Ado About Nothing</a></li>
    <li><a href="/othello">Othello</a></li>
    <li><a href="/pericles">Pericles</a></li>
    <li><a href="/richard-ii">Richard II</a></li>
    <li><a href="/richard-iii">Richard III</a></li>
    <li><a href="/romeo-and-juliet">Romeo and Juliet</a></li>
    <li><a href="/the-life-and-death-of-king-john">The Life and Death of King John</a></li>
    <li><a href="/the-merchant-of-venice">The Merchant of Venice</a></li>
    <li><a href="/the-merry-wives-of-windsor">The Merry Wives of Windsor</a></li>
    <li><a href="/the-taming-of-the-shrew">The Taming of the Shrew</a></li>
    <li><a href="/the-tempest">The Tempest</a></li>
    <li><a href="/timon-of-athens">Timon of Athens</a></li>
    <li><a href="/titus-andronicus">Titus Andronicus</a></li>
    <li><a href="/troilus-and-cressida">Troilus and Cressida</a></li>
    <li><a href="/twelfth-night">Twelfth Night</a></li>
    <li><a href="/two-gentlemen-of-verona">Two Gentlemen of Verona</a></li>
</ul>

    </div>
</div>

{% endblock %}

