{% load url from future %}
{% load i18n %}

{% if user.is_authenticated %}
  <a href="#" data-dropdown="drop2" class="tiny secondary button dropdown action-button">{% trans "Actions" %}</a><br>
  <ul id="drop2" class="f-dropdown admin-menu">
    <li><a href="{{ section.get_edit_url }}">{% trans "Edit section" %}</a>
    <li><a href="{{ section.get_delete_url }}">{% trans "Delete section" %}</a>
    <li><a href="{% url "speeches:section-add" %}?section={{ section.id }}">{% trans "Add a new subsection" %}</a>
    <li><a href="{% url "speeches:speech-add" %}?section={{ section.id }}">{% trans "Add a new speech" %}</a>
  </ul>
{% endif %}
