{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}View Debate: {{ object.title}}{% endblock %}

{% block content %}

    <h1>{{ object.title }}</h1>

    <h3>Speeches</h3>

    <ul class="unstyled">
        {% if not speech_list %}
            <li>{{ object.title }} doesn't contain any speeches yet.</li>
        {% endif %}
        {% for speech in speech_list %}
            {% include "speeches/speech_list_item_with_speaker.html" with speech=speech only %}
        {% endfor %}
    </ul>

    <p><a href="{{ object.get_edit_url }}">Edit</a></p>

{% endblock %}