{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load speech_utils %}

{% block extra_css %}
<link href="{% static "css/speeches.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ request.instance.title }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ request.instance.title }}</h1>
    {{ request.instance.description|linebreaks_with_lead }}
</div>


<h2>Recent Speeches</h2>

<ul class="unstyled">
	{% for speech in recent_speeches %}
		{% include "speeches/speech.html" with speech=speech only %}
	{% endfor %}
</ul>

{% endblock %}
