{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load speech_utils %}

{% block title %}{{ request.instance.title }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ request.instance.title }}</h1>
    {{ request.instance.description|linebreaks_with_lead }}
</div>

<div class="row-fluid">

<div class="span4">
    <h2>{% trans "Speakers" %}</h2>
    <ul class="unstyled">
      {% for speaker in speakers %}
        <li>
            <img src="{% static "i/a.png" %}" style="border-color: #{{ speaker.colour }}; background-color: #{{ speaker.colour }};" alt="" width=24 height=24 class="speaker-img">
            <a href="{{ speaker.get_absolute_url }}">{{ speaker }}</a>
        </li>
      {% endfor %}
    </ul>
</div>

<div class="span8">
<h2>{% trans "Recent Sections" %}</h2>

<ul style="column-count:2; -webkit-column-count:2">
  {% for section in recent_sections %}
    <li>
        <a href="{{ section.get_absolute_url }}">{{ section.title }}</a>
    </li>
  {% endfor %}
</ul>
</div>

<div class="span8">
<h2>{% trans "Recent Speeches" %}</h2>

<ul class="unstyled">
  {% for speech in recent_speeches %}
    {% include "speeches/speech.html" with speech=speech %}
  {% endfor %}
</ul>

</div>

</div>

{% endblock %}
