{% extends 'speeches/speech_audio.html' %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
<link href="{% static "css/speeches.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}" />
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "js/speeches.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block title %}{% if object %}Edit meeting {% else %}Add meeting{% endif %}{% endblock %}

{% block content2 %}
<p class="lead {% if object %}edit{% else %}add{% endif %}-meeting">
    {% if object %}
        Here is where you can edit a meeting.
    {% else %}
        Here is where you can add a new meeting.
    {% endif %}
</p>

<form id="meeting-form" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="control-group {% if field.errors %}error{% endif %}" id="{{ field.auto_id}}_controls">
            {{ field.label_tag }}
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
                <span class="help-inline">{{ field.help_text }}</span>
            </div>
        </div>
    {% endfor %}

<input type="submit" id="meeting_submit" class="btn" value="{% if object %}Update meeting{% else %}Add meeting{% endif %}">
</form>
{% endblock %}
