{% load i18n %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
            &middot;
        {% endif %}

        <span class="current">
          {% blocktrans with num=page_obj.number pages=paginator.num_pages %}
            Page {{ num }} of {{ pages }}
          {% endblocktrans %}
        </span>

        {% if page_obj.has_next %}
            &middot;
            <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}
    </span>
</div>

