{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block extra_css %}
<link href="{% static "css/speeches.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ request.instance.title }}{% endblock %}

{% block content %}
<h1>{{ request.instance.title }}</h1>

{{ request.instance.description|linebreaks }}

<h2>Recent Speeches</h2>

<ul class="unstyled">
	{% for speech in recent_speeches %}
		{% include "speeches/speech_list_item_with_speaker.html" with speech=speech only %}
	{% endfor %}
</ul>

{% endblock %}
