{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}Sections{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Sections</h1>
</div>

<ul class="unstyled">
    {% for top in object_list %}
    <li>
        <span class="section-title"><a href="{% url "section-view" top.id %}">{{ top.title }}</a></span>
      {% if not top.is_leaf_node %}
          {% for node, structure in top.descendants %}
            {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
            <span class="section-title"><a href="{{ node.get_absolute_url }}">{{ node.title }}</a></span>
            {% if node.is_leaf_node %}({{ node.speech_count }}){% endif %}
            {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}
      {% endif %}
    </li>
    {% endfor %}
</ul>

    <h2>Speeches</h2>
    <p>These are speeches not attached to a section.</p>

    <ol class="unstyled">
        {% if not speech_list %}
            <li>There are no un-sectioned speeches.</li>
        {% endif %}
        {% for speech in speech_list %}
            {% include "speeches/speech.html" with speech=speech nosection="1" %}
        {% endfor %}
    </ol>

{% endblock %}
