{% extends 'speeches/base.html' %}
{% load i18n %}

{% block title %}
{% if object %}
    {% trans 'Edit section' %}
{% else %}
    {% trans 'Add section' %}
{% endif %}
{% endblock %}

{% block content %}
<p class="lead {% if object %}edit{% else %}add{% endif %}-section">
    {% if object %}
        {% trans 'Here is where you can edit a section.' %}
    {% else %}
        {% trans 'Here is where you can add a new section.' %}
    {% endif %}
</p>

<form id="section-form" class="form-horizontal" method="post">
    {% if object %}
        {% include 'speeches/form.html' with type="section" submit="Update section" %}
    {% else %}
        {% include 'speeches/form.html' with type="section" submit="Add section" %}
    {% endif %}
</form>

{% endblock %}
