{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}View Speaker: {{ object.name}}{% endblock %}

{% block content %}

    <h1>{{ object.name }}</h1>

    <p>Popit ID: {{ object.popit_id }}</p>

    <h3>Speeches</h3>
    <ul>
        {% if not speech_list %}
            <li>{{ object.name }} has no recorded speeches yet.</li>
        {% endif %}
        {% for speech in speech_list %}
            <li><a href="{% url "speech-view" speech.id %}">{{ speech }}</a>
        {% endfor %}
    </ul>

{% endblock %}