{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}{% blocktrans with speaker=speaker.name %}View Speaker: {{ speaker }}{% endblocktrans %}{% endblock %}

{% block content %}

<div class="page-header">
    {% if user.is_authenticated %}
    <div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        {% trans "Actions" %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ speaker.get_edit_url }}">{% trans "Edit speaker" %}</a>
        <li><a href="{% url "speech-add" %}?speaker={{ speaker.id }}">{% trans "Add a new speech" %}</a>
      </ul>
    </div>
    {% endif %}

    <h1>{{ speaker.name }}</h1>

    {% if speaker.person.image %}
        <img src="{{ speaker.person.image }}" 
             alt="Headshot of {{ speaker.name|escape}}" 
             width="100">
    {% endif %}
    <p class="person-summary"> {{ speaker.person.summary }} </p>

</div>

    <ul class="unstyled">
        {% if not page_obj %}
            <li>{% blocktrans with speaker=speaker.name %}{{ speaker }} has no recorded speeches yet.{% endblocktrans %}</li>
        {% endif %}
        {% for speech in page_obj %}
            {% include "speeches/speech.html" with speech=speech nospeaker="1" %}
        {% endfor %}
    </ul>

    {% include 'speeches/pagination.html' %}

{% endblock %}
