{% extends 'speeches/base.html' %}
{% load i18n %}

{% block title %}
{% if object %}
    {% trans "Edit speaker" %}
{% else %}
    {% trans "Add speaker" %}
{% endif %}
{% endblock %}

{% block content %}
<p class="lead {% if object %}edit{% else %}add{% endif %}-speaker">
    {% if object %}
        {% trans "Here is where you can edit a speaker." %}
    {% else %}
        {% trans "Here is where you can add a new speaker." %}
    {% endif %}
</p>

<form id="speaker-form" class="form-horizontal" method="post">
    {% if object %}
        {% include 'speeches/form.html' with type="speaker" submit="Update speaker" %}
    {% else %}
        {% include 'speeches/form.html' with type="speaker" submit="Add speaker" %}
    {% endif %}
</form>
{% endblock %}
