{% extends 'speeches/base.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "All Speakers" %}{% endblock %}

{% block content %}

  {% if speaker_list %}

    <div class="page-header">
        <h1>{% trans "All Speakers" %}</h1>
    </div>

    <ul class="speaker-list">
      {% for speaker in speaker_list %}
        <li>
            <a href="{{ speaker.get_absolute_url }}">
                <div class="speaker-card">

                    <img src="{% if speaker.person.image %}
                        {{ speaker.person.image }} {% else %} {% static "speeches/i/a.png" %} {% endif %}" style="border-color: #{{ speaker.colour }}; background-color: #{{ speaker.colour }};" alt="" class="speaker-card__portrait speaker-portrait round-image speaker-portrait--small">
                    <span class="speaker-card__name">{{ speaker }}</span>

                </div>
            </a>
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <div class="nothing-here-yet-message">
        <h1>{% trans 'There are no speakers yet' %}</h1>
        <p class="lead">{% trans 'Attributing speeches to speakers makes them easy to find and navigate.' %}</p>
        <p><a href="{% url "speeches:speaker-add" %}" class="button">{% trans 'Add your first speaker' %}</a></p>
    </div>

  {% endif %}

{% endblock %}
