{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block extra_css %}
<link href="{% static "css/speeches.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}All Speakers{% endblock %}

{% block content %}
<h1>All speakers</h1>

{% regroup speech_list by speaker as grouped_speech_list %}

<ul class="unstyled">
	{% for speech in grouped_speech_list %}
		<li>
			<h3>
				{% if speech.grouper %}
					<a href="{% url "speaker-view" speech.grouper.id %}">{{ speech.grouper }}</a>
				{% else %}
					No Speaker
				{% endif %}
			</h3>
		</li>
		<ul class="unstyled">
			{% for speech in speech.list %}
				<li>
					<span class="speech-date muted"><small>{{ speech.start_date|default_if_none:"[ Undated ]" }} </small></span>

					{% if speech.title %}
						<span class="speech-title"> <strong><a href="{%url "speech-view" speech.id%}">{{ speech.title }}</a></strong></span>
					{% endif %}

					<span class="speech-summary"> &#8220;<a href="{%url "speech-view" speech.id%}"><em>{{ speech.summary}}</em></a>&#8221;</span>

					<span class="speech-location muted"> <small>Location: {{ speech.location|default:"[ Unknown ]" }}</small></span>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</ul>
{% endblock %}
