{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load bleach_tags %}
{% load mptt_tags %}

<li id="s{{ speech.id }}" class="speech speech-border" style="border-left-color: #{{ speech.speaker.colour }};">
  {% if not nosection and speech.section_id %}
    <a href="{{ speech.section.get_absolute_url }}">{{ speech.section.title }}</a> &rarr;
  {% endif %}

  {% if not speech.is_public %}
    <span class="label label-info">{% trans "Invisible" %}</span>
  {% endif %}

  {% if not nospeaker %}
    <span class="speech-speaker">
      {% if speech.speaker %}
        <a href="{{ speech.speaker.get_absolute_url }}">
            <img src="{% static "i/a.png" %}" style="border-color: #{{ speech.speaker.colour }}; background-color: #{{ speech.speaker.colour }};" alt="" width=44 height=44 class="speaker-img">
            <strong>{{ speech.speaker }}</strong></a>
      {% else %}
        <strong>{% trans "Unknown Speaker" %}</strong>
      {% endif %}
    </span>
  {% endif %}

  {% if speech.start_time or speech.start_date or speech.end_time or speech.end_date %}
    <span class="speech-date muted"><small style="line-height:1">
        {{ speech.start_time }}{% if speech.start_date and speech.start_date != speech.end_date %},
        {{ speech.start_date }}
      {% endif %}
      {% if speech.end_time or speech.end_date %}
        &ndash;
        {{ speech.end_time }}{% if speech.end_date %},{% endif %}
        {{ speech.end_date }}
      {% endif %}
    </small></span>
  {% endif %}

  {% for tag in speech.tags.all %}
    <span class="label">{{ tag }}</span>
  {% endfor %}

  {% if speech.section_id %}
    <a title="{% trans "Permalink to this speech in context" %}" href="{% url 'section-view' speech.section_id %}#s{{ speech.id }}"><i class="icon-tags off-screen">{% trans "Permalink to this speech in context" %}</i></a>
  {% endif %}
    <a title="{% trans "Permalink to this speech individually" %}" href="{% url "speech-view" speech.id %}"><i class="icon-tag off-screen">{% trans "Permalink to this speech individually" %}</i></a>
  {% if speech.audio %}
    <i class="icon-volume-up off-screen">{% trans "This speech has audio" %}</i>
    <audio class="audio-small" id="audio{{ speech.id }}" src="{{ MEDIA_URL }}{{ speech.audio }}" controls></audio>
    <script>
        $('#audio{{ speech.id }}').mediaelementplayer( { audioWidth: 100, audioHeight: 24, features: [ 'playpause', 'current', 'duration' ] } );
    </script>
  {% endif %}

  {% if speech.audio and not speech.text %}
    <p>{% trans "[ recorded audio ]" %}</p>
  {% else %}
    {{ speech.text|bleach|linebreaks }}
  {% endif %}

</li>
