{% load url from future %}
{% load i18n %}
{% load bleach_tags %}
{% load mptt_tags %}

<li id="s{{ speech.id }}">
    {% if speech.section and not nosection %}
        {% drilldown_tree_for_node speech.section as drilldown %}
        {% for n,s in drilldown|tree_info %}
            <a href="{{ n.get_absolute_url }}">{{ n.title }}</a> &rarr;
        {% endfor %}
        <br>
    {% endif %}

    {% if not speech.is_public %}<span class="label label-info">Invisible</span>{% endif %}
    {% if not nospeaker %}
	<span class="speech-speaker"> {% if speech.speaker %}<a href="{{ speech.speaker.get_absolute_url }}"><strong>{{ speech.speaker }}</strong></a>{% else %}<strong>{% trans "Unknown Speaker" %}</strong>{% endif %}</span>
    {% endif %}

    {% if speech.start_time or speech.start_date or speech.end_time or speech.end_date %}
    <span class="speech-date muted"><small>
        {{ speech.start_time }}{% if speech.start_date and speech.start_date != speech.end_date %},
        {{ speech.start_date }}
      {% endif %}
      {% if speech.end_time or speech.end_date %}
        &ndash;
        {{ speech.end_time }}{% if speech.end_date %},{% endif %}
        {{ speech.end_date }}
      {% endif %}
    </small></span>
    {% endif %}

    {% for tag in speech.tags.all %}
        <span class="label">{{ tag }}</span>
    {% endfor %}

    <a href="{% url "speech-view" speech.id %}">#</a>

  {% if speech.audio and not speech.text %}
    <p>[ recorded audio ]</p>
  {% else %}
    {{ speech.text|bleach|linebreaks }}
  {% endif %}

</li>
