{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block title %}All Speakers{% endblock %}

{% block content %}

<div class="page-header">
    <h1>All speakers</h1>
</div>

{% regroup page_obj by speaker as grouped_speech_list %}

<ul class="unstyled">
	{% for speech in grouped_speech_list %}
		<li>
			<h3>
				{% if speech.grouper %}
					<a href="{% url "speeches:speaker-view" speech.grouper.id %}">{{ speech.grouper }}</a>
				{% else %}
					No Speaker
				{% endif %}
			</h3>
		</li>
		<ul class="unstyled">
			{% for speech in speech.list %}
				{% include "speeches/speech.html" with speech=speech nospeaker="1" %}
			{% endfor %}
		</ul>
	{% endfor %}
</ul>

{% include 'speeches/pagination.html' %}

{% endblock %}
