{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}
{% load bleach_tags %}

{% block extra_headers %}
{% if object.celery_task_id %}
    <meta http-equiv="refresh" content="5">
{% endif %}
{% endblock %}

{% block title %}
    {% if object.title %}
        {{ object.title }}
    {% else %}
        &#8220;{{ object.summary|striptags }}&#8221;
    {% endif %}
{% endblock %}

{% block content %}

{% if object.celery_task_id %}
<div class="page-header">
    <p class="lead">{% trans "Please wait, audio is being transcribed. This page will automatically refresh in 5 seconds..." %}</p>
</div>
{% else %}

<div class="page-header">
    {% if object.section %}
    <ul class="breadcrumbs">
      {% for n in object.section.get_ancestors %}
        <li><a href="{% url 'speeches:section-view' n.get_path %}">{{ n.title }}</a> <span class="divider">&rarr;</span></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% include "speeches/_speech_user_actions.html" %}

    <h1>
        {% if object.title %}
            {{ object.title }}
        {% else %}
            &#8220;{{ object.summary|bleach }}&#8221;
        {% endif %}
    </h1>

    <p class="lead muted">
        <small>Statement made by </small>
        {% if object.speaker %}
            <a href="{% url "speeches:speaker-view" object.speaker.id %}">{{ object.speaker }}</a>
        {% else %}
            Unknown speaker
        {% endif %}
        <small> on </small>
        {% if object.start_date %}
            {{ object.start_date }}
        {% else %}
            Unknown date
        {% endif %}

        {% if object.location %}
            <br /><small>{% trans "Location:" %} </small>{{ object.location }}
        {% endif %}
    </p>

</div>

{% with next=speech.get_next_speech previous=speech.get_previous_speech %}
  {% if previous or next %}
    <ul class="pager">
      {% if previous %}
        <li class="previous"><a href="{% url "speeches:speech-view" previous.id %}">&larr; {{ previous.summary|bleach }}</a>
      {% endif %}
      {% if next %}
        <li class="next"><a href="{% url "speeches:speech-view" next.id %}">{{ next.summary|bleach }} &rarr;</a>
      {% endif %}
    </ul>
  {% endif %}
{% endwith %}

    {% if object.audio %}
        <p>
            <audio id="the-audio" src="{{ MEDIA_URL }}{{ object.audio }}" controls></audio>
            <script>
                var a = $('#the-audio'), ae = a[0];
                if (ae.playbackRate) {
                    $('<label><input type="checkbox" id="speed"> Play at half speed (experimental)</label>').insertAfter(a);
                    $('#speed').click(function(){
                        ae.playbackRate = 1.5 - ae.playbackRate;
                    });
                }
            </script>
        </p>
    {% endif %}

    {% if object.text %}
        {{ object.text|bleach|linebreaks }}
    {% endif %}

    {% if object.section %}
        <p>
            <a href="{% url 'speeches:section-view' object.section.get_path %}#s{{ object.id }}">{% trans "See speech in context" %}</a>
        </p>
    {% endif %}

    {% if object.source_url %}
        <p><a href="{{ object.source_url }}">{% trans "Source:" %} {{ object.source_url }}</a></p>
    {% endif %}

{% endif %}

{% endblock %}
