{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{% block extra_css %}
<link href="{% static "css/speeches.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}All Speakers{% endblock %}

{% block content %}
<h1>All speakers</h1>

{% regroup speech_list by speaker as grouped_speech_list %}

<ul class="unstyled">
	{% for speech in grouped_speech_list %}
		<li>
			<h3>
				{% if speech.grouper %}
					<a href="{% url "speaker-view" speech.grouper.id %}">{{ speech.grouper }}</a>
				{% else %}
					No Speaker
				{% endif %}
			</h3>
		</li>
		<ul class="unstyled">
			{% for speech in speech.list %}
				{% include "speeches/speech_list_item_without_speaker.html" with speech=speech only %}
			{% endfor %}
		</ul>
	{% endfor %}
</ul>
{% endblock %}
