{% extends 'speeches/speech_audio.html' %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
<link href="{% static "css/speeches.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "autocomplete_light/style.css" %}" />
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "js/speeches.js" %}"></script>
<script src="{% static "jQuery-File-Upload/js/vendor/jquery.ui.widget.js" %}"></script>
<script src="{% static "jQuery-File-Upload/js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "jQuery-File-Upload/js/jquery.fileupload.js" %}"></script>
<script src="{% static "autocomplete_light/autocomplete.js" %}"></script>
<script src="{% static "autocomplete_light/widget.js" %}"></script>
<script src="{% static "autocomplete_light/text_widget.js" %}"></script>
{% endblock %}

{% block title %}{% if object %}Edit speech {% else %}Add speech{% endif %}{% endblock %}

{% block content2 %}
<p class="lead">
    {% if object %}
        Here is where you can edit a speech.
    {% else %}
        Here is where you can add a new speech.
    {% endif %}
</p>

<form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="control-group {% if field.errors %}error{% endif %}">
            {{ field.label_tag }}
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
                <span class="help-inline">{{ field.help_text }}</span>
            </div>
            {% if field.name == 'audio' %}
            <div class="progress-result">
            {% if form.audio_filename.value %}
                Uploaded: {{ form.audio_filename.value }}
            {% endif %}
            </div>
            <div class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
            {% endif %}
        </div>
    {% endfor %}

<input type="submit" id="speech_submit" class="btn" value="{% if object %}Update speech{% else %}Add speech{% endif %}">
</form>
{% endblock %}
