{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}About{% endblock %}

{% block content %}
<div class="page-header">
    <h1>About</h1>
</div>

<p><strong>Warning &ndash; the transcripts contain large volumes of graphic,
harrowing testimony about war crimes. We encourage readers looking for a casual
browse to try the <a href="http://leveson.sayit.mysociety.org/">Leveson
Inquiry</a> or <a href="http://shakespeare.sayit.mysociety.org/">Shakespeare
Plays</a> instead.</strong></p>

<p>Charles Taylor was the 22<sup>nd</sup> President of Liberia, serving from
1997 until 2003.</p>

<p>In June 2003, whilst he was still president, he was indicted for war crimes
and crimes against humanity by the Special Court for Sierra Leone. In August
2003 he resigned and moved to Nigeria in exile. In 2006 he was arrested and
charged by the Special Court, which began a legal process which was to last
seven years.</p>

<p>In April 2012 the Special Court ruled that he was guilty on 11 counts, and
was sentenced to 50 years in prison.</p>

<p>The trial was enormously long and complex (as always, Wikipedia provides an
<a href="http://en.wikipedia.org/wiki/Charles_Taylor_(Liberian_politician)#Trial">excellent
overview</a>) and saw over 400,000 speeches or statements. We have taken the
official transcripts from
<a href="http://www.sc-sl.org/CASES/ProsecutorvsCharlesTaylor/Transcripts/tabid/160/Default.aspx">sc-sl.org</a>,
the website of the trial, and imported them unaltered into this SayIt website.
We have done this to show how we feel serious documents should be published in
future.</p>

<div class="row">
    <div class="large-4 columns">

<h2>Pre-trial</h2>

<ul>
    <li> <a href="/hearing-3-april-2006">Hearing, 3 April 2006</a> </li>
    <li> <a href="/hearing-21-june-2006">Hearing, 21 June 2006</a> </li>
    <li> <a href="/hearing-21-july-2006">Hearing, 21 July 2006</a> </li>
    <li> <a href="/hearing-22-september-2006">Hearing, 22 September 2006</a> </li>
    <li> <a href="/hearing-26-january-2007">Hearing, 26 January 2007</a> </li>
    <li> <a href="/hearing-7-may-2007">Hearing, 7 May 2007</a> </li>
</ul>

<ul>
    <li> <a href="/hearing-4-june-2007">Hearing, 4 June 2007</a> </li>
    <li> <a href="/hearing-25-june-2007">Hearing, 25 June 2007</a> </li>
    <li> <a href="/hearing-3-july-2007">Hearing, 3 July 2007</a> </li>
    <li> <a href="/hearing-20-august-2007">Hearing, 20 August 2007</a> </li>
    <li> <a href="/hearing-20-september-2007">Hearing, 20 September 2007</a> </li>
    <li> <a href="/hearing-13-november-2007">Hearing, 13 November 2007</a> </li>
</ul>

<h2>Prosecution</h2>

<ul>
    <li> <a href="/hearing-7-january-2008">Hearing, 7 January 2008</a> </li>
    <li> <a href="/hearing-8-january-2008">Hearing, 8 January 2008</a> </li>
    <li> <a href="/hearing-9-january-2008">Hearing, 9 January 2008</a> </li>
    <li> <a href="/hearing-10-january-2008">Hearing, 10 January 2008</a> </li>
    <li> <a href="/hearing-11-january-2008">Hearing, 11 January 2008</a> </li>
    <li> <a href="/hearing-14-january-2008">Hearing, 14 January 2008</a> </li>
    <li> <a href="/hearing-15-january-2008">Hearing, 15 January 2008</a> </li>
    <li> <a href="/hearing-16-january-2008">Hearing, 16 January 2008</a> </li>
    <li> <a href="/hearing-17-january-2008">Hearing, 17 January 2008</a> </li>
    <li> <a href="/hearing-18-january-2008">Hearing, 18 January 2008</a> </li>
    <li> <a href="/hearing-21-january-2008">Hearing, 21 January 2008</a> </li>
    <li> <a href="/hearing-22-january-2008">Hearing, 22 January 2008</a> </li>
    <li> <a href="/hearing-23-january-2008">Hearing, 23 January 2008</a> </li>
    <li> <a href="/hearing-24-january-2008">Hearing, 24 January 2008</a> </li>
    <li> <a href="/hearing-4-february-2008">Hearing, 4 February 2008</a> </li>
    <li> <a href="/hearing-5-february-2008">Hearing, 5 February 2008</a> </li>
    <li> <a href="/hearing-6-february-2008">Hearing, 6 February 2008</a> </li>
    <li> <a href="/hearing-7-february-2008">Hearing, 7 February 2008</a> </li>
    <li> <a href="/hearing-8-february-2008">Hearing, 8 February 2008</a> </li>
    <li> <a href="/hearing-11-february-2008">Hearing, 11 February 2008</a> </li>
    <li> <a href="/hearing-12-february-2008">Hearing, 12 February 2008</a> </li>
    <li> <a href="/hearing-13-february-2008">Hearing, 13 February 2008</a> </li>
    <li> <a href="/hearing-14-february-2008">Hearing, 14 February 2008</a> </li>
    <li> <a href="/hearing-15-february-2008">Hearing, 15 February 2008</a> </li>
    <li> <a href="/hearing-19-february-2008">Hearing, 19 February 2008</a> </li>
    <li> <a href="/hearing-20-february-2008">Hearing, 20 February 2008</a> </li>
    <li> <a href="/hearing-21-february-2008">Hearing, 21 February 2008</a> </li>
    <li> <a href="/hearing-22-february-2008">Hearing, 22 February 2008</a> </li>
    <li> <a href="/hearing-25-february-2008">Hearing, 25 February 2008</a> </li>
    <li> <a href="/hearing-26-february-2008">Hearing, 26 February 2008</a> </li>
    <li> <a href="/hearing-27-february-2008">Hearing, 27 February 2008</a> </li>
    <li> <a href="/hearing-4-march-2008">Hearing, 4 March 2008</a> </li>
    <li> <a href="/hearing-5-march-2008">Hearing, 5 March 2008</a> </li>
    <li> <a href="/hearing-6-march-2008">Hearing, 6 March 2008</a> </li>
    <li> <a href="/hearing-7-march-2008">Hearing, 7 March 2008</a> </li>
    <li> <a href="/hearing-10-march-2008">Hearing, 10 March 2008</a> </li>
    <li> <a href="/hearing-11-march-2008">Hearing, 11 March 2008</a> </li>
    <li> <a href="/hearing-12-march-2008">Hearing, 12 March 2008</a> </li>
    <li> <a href="/hearing-13-march-2008">Hearing, 13 March 2008</a> </li>
    <li> <a href="/hearing-14-march-2008">Hearing, 14 March 2008</a> </li>
    <li> <a href="/hearing-31-march-2008">Hearing, 31 March 2008</a> </li>
    <li> <a href="/hearing-1-april-2008">Hearing, 1 April 2008</a> </li>
    <li> <a href="/hearing-2-april-2008">Hearing, 2 April 2008</a> </li>
    <li> <a href="/hearing-3-april-2008">Hearing, 3 April 2008</a> </li>
    <li> <a href="/hearing-4-april-2008">Hearing, 4 April 2008</a> </li>
    <li> <a href="/hearing-7-april-2008">Hearing, 7 April 2008</a> </li>
    <li> <a href="/hearing-8-april-2008">Hearing, 8 April 2008</a> </li>
    <li> <a href="/hearing-9-april-2008">Hearing, 9 April 2008</a> </li>
    <li> <a href="/hearing-10-april-2008">Hearing, 10 April 2008</a> </li>
    <li> <a href="/hearing-11-april-2008">Hearing, 11 April 2008</a> </li>
    <li> <a href="/hearing-14-april-2008">Hearing, 14 April 2008</a> </li>
    <li> <a href="/hearing-15-april-2008">Hearing, 15 April 2008</a> </li>
    <li> <a href="/hearing-16-april-2008">Hearing, 16 April 2008</a> </li>
    <li> <a href="/hearing-17-april-2008">Hearing, 17 April 2008</a> </li>
    <li> <a href="/hearing-18-april-2008">Hearing, 18 April 2008</a> </li>
    <li> <a href="/hearing-21-april-2008">Hearing, 21 April 2008</a> </li>
    <li> <a href="/hearing-22-april-2008">Hearing, 22 April 2008</a> </li>
    <li> <a href="/hearing-23-april-2008">Hearing, 23 April 2008</a> </li>
    <li> <a href="/hearing-24-april-2008">Hearing, 24 April 2008</a> </li>
    <li> <a href="/hearing-25-april-2008">Hearing, 25 April 2008</a> </li>
    <li> <a href="/hearing-5-may-2008">Hearing, 5 May 2008</a> </li>
    <li> <a href="/hearing-6-may-2008">Hearing, 6 May 2008</a> </li>
    <li> <a href="/hearing-7-may-2008">Hearing, 7 May 2008</a> </li>
    <li> <a href="/hearing-8-may-2008">Hearing, 8 May 2008</a> </li>
    <li> <a href="/hearing-9-may-2008">Hearing, 9 May 2008</a> </li>
    <li> <a href="/hearing-12-may-2008">Hearing, 12 May 2008</a> </li>
    <li> <a href="/hearing-13-may-2008">Hearing, 13 May 2008</a> </li>
    <li> <a href="/hearing-14-may-2008">Hearing, 14 May 2008</a> </li>
    <li> <a href="/hearing-15-may-2008">Hearing, 15 May 2008</a> </li>
    <li> <a href="/hearing-16-may-2008">Hearing, 16 May 2008</a> </li>
    <li> <a href="/hearing-19-may-2008">Hearing, 19 May 2008</a> </li>
    <li> <a href="/hearing-20-may-2008">Hearing, 20 May 2008</a> </li>
    <li> <a href="/hearing-21-may-2008">Hearing, 21 May 2008</a> </li>
    <li> <a href="/hearing-22-may-2008">Hearing, 22 May 2008</a> </li>
    <li> <a href="/hearing-2-june-2008">Hearing, 2 June 2008</a> </li>
    <li> <a href="/hearing-3-june-2008">Hearing, 3 June 2008</a> </li>
    <li> <a href="/hearing-4-june-2008">Hearing, 4 June 2008</a> </li>
    <li> <a href="/hearing-5-june-2008">Hearing, 5 June 2008</a> </li>
    <li> <a href="/hearing-6-june-2008">Hearing, 6 June 2008</a> </li>
    <li> <a href="/hearing-9-june-2008">Hearing, 9 June 2008</a> </li>
    <li> <a href="/hearing-10-june-2008">Hearing, 10 June 2008</a> </li>
    <li> <a href="/hearing-11-june-2008">Hearing, 11 June 2008</a> </li>
    <li> <a href="/hearing-12-june-2008">Hearing, 12 June 2008</a> </li>
    <li> <a href="/hearing-13-june-2008">Hearing, 13 June 2008</a> </li>
    <li> <a href="/hearing-18-june-2008">Hearing, 18 June 2008</a> </li>
    <li> <a href="/hearing-19-june-2008">Hearing, 19 June 2008</a> </li>
    <li> <a href="/hearing-20-june-2008">Hearing, 20 June 2008</a> </li>
    <li> <a href="/hearing-23-june-2008">Hearing, 23 June 2008</a> </li>
    <li> <a href="/hearing-24-june-2008">Hearing, 24 June 2008</a> </li>
    <li> <a href="/hearing-25-june-2008">Hearing, 25 June 2008</a> </li>
    <li> <a href="/hearing-2-july-2008">Hearing, 2 July 2008</a> </li>
    <li> <a href="/hearing-4-july-2008">Hearing, 4 July 2008</a> </li>
    <li> <a href="/hearing-7-july-2008">Hearing, 7 July 2008</a> </li>
    <li> <a href="/hearing-8-july-2008">Hearing, 8 July 2008</a> </li>
    <li> <a href="/hearing-9-july-2008">Hearing, 9 July 2008</a> </li>
    <li> <a href="/hearing-10-july-2008">Hearing, 10 July 2008</a> </li>
    <li> <a href="/hearing-11-july-2008">Hearing, 11 July 2008</a> </li>
    <li> <a href="/hearing-14-july-2008">Hearing, 14 July 2008</a> </li>
    <li> <a href="/hearing-15-july-2008">Hearing, 15 July 2008</a> </li>
    <li> <a href="/hearing-16-july-2008">Hearing, 16 July 2008</a> </li>
    <li> <a href="/hearing-17-july-2008">Hearing, 17 July 2008</a> </li>
    <li> <a href="/hearing-18-july-2008">Hearing, 18 July 2008</a> </li>
    <li> <a href="/hearing-18-august-2008">Hearing, 18 August 2008</a> </li>
    <li> <a href="/hearing-19-august-2008">Hearing, 19 August 2008</a> </li>
    <li> <a href="/hearing-21-august-2008">Hearing, 21 August 2008</a> </li>
    <li> <a href="/hearing-22-august-2008">Hearing, 22 August 2008</a> </li>
    <li> <a href="/hearing-25-august-2008">Hearing, 25 August 2008</a> </li>
    <li> <a href="/hearing-26-august-2008">Hearing, 26 August 2008</a> </li>
    <li> <a href="/hearing-27-august-2008">Hearing, 27 August 2008</a> </li>
    <li> <a href="/hearing-28-august-2008">Hearing, 28 August 2008</a> </li>
    <li> <a href="/hearing-29-august-2008">Hearing, 29 August 2008</a> </li>
    <li> <a href="/hearing-1-september-2008">Hearing, 1 September 2008</a> </li>
    <li> <a href="/hearing-2-september-2008">Hearing, 2 September 2008</a> </li>
    <li> <a href="/hearing-3-september-2008">Hearing, 3 September 2008</a> </li>
    <li> <a href="/hearing-4-september-2008">Hearing, 4 September 2008</a> </li>
    <li> <a href="/hearing-5-september-2008">Hearing, 5 September 2008</a> </li>
    <li> <a href="/hearing-8-september-2008">Hearing, 8 September 2008</a> </li>
    <li> <a href="/hearing-9-september-2008">Hearing, 9 September 2008</a> </li>
    <li> <a href="/hearing-10-september-2008">Hearing, 10 September 2008</a> </li>
    <li> <a href="/hearing-11-september-2008">Hearing, 11 September 2008</a> </li>
    <li> <a href="/hearing-12-september-2008">Hearing, 12 September 2008</a> </li>
    <li> <a href="/hearing-16-september-2008">Hearing, 16 September 2008</a> </li>
    <li> <a href="/hearing-17-september-2008">Hearing, 17 September 2008</a> </li>
    <li> <a href="/hearing-18-september-2008">Hearing, 18 September 2008</a> </li>
    <li> <a href="/hearing-19-september-2008">Hearing, 19 September 2008</a> </li>
    <li> <a href="/hearing-22-september-2008">Hearing, 22 September 2008</a> </li>
    <li> <a href="/hearing-23-september-2008">Hearing, 23 September 2008</a> </li>
    <li> <a href="/hearing-24-september-2008">Hearing, 24 September 2008</a> </li>
    <li> <a href="/hearing-25-september-2008">Hearing, 25 September 2008</a> </li>
    <li> <a href="/hearing-26-september-2008">Hearing, 26 September 2008</a> </li>
    <li> <a href="/hearing-29-september-2008">Hearing, 29 September 2008</a> </li>
    <li> <a href="/hearing-30-september-2008">Hearing, 30 September 2008</a> </li>
    <li> <a href="/hearing-1-october-2008">Hearing, 1 October 2008</a> </li>
    <li> <a href="/hearing-3-october-2008">Hearing, 3 October 2008</a> </li>
    <li> <a href="/hearing-6-october-2008">Hearing, 6 October 2008</a> </li>
    <li> <a href="/hearing-7-october-2008">Hearing, 7 October 2008</a> </li>
    <li> <a href="/hearing-13-october-2008">Hearing, 13 October 2008</a> </li>
    <li> <a href="/hearing-15-october-2008">Hearing, 15 October 2008</a> </li>
    <li> <a href="/hearing-16-october-2008">Hearing, 16 October 2008</a> </li>
    <li> <a href="/hearing-17-october-2008">Hearing, 17 October 2008</a> </li>
    <li> <a href="/hearing-20-october-2008">Hearing, 20 October 2008</a> </li>
    <li> <a href="/hearing-21-october-2008">Hearing, 21 October 2008</a> </li>
    <li> <a href="/hearing-22-october-2008">Hearing, 22 October 2008</a> </li>
    <li> <a href="/hearing-23-october-2008">Hearing, 23 October 2008</a> </li>
    <li> <a href="/hearing-27-october-2008">Hearing, 27 October 2008</a> </li>
    <li> <a href="/hearing-28-october-2008">Hearing, 28 October 2008</a> </li>
    <li> <a href="/hearing-29-october-2008">Hearing, 29 October 2008</a> </li>
    <li> <a href="/hearing-30-october-2008">Hearing, 30 October 2008</a> </li>
    <li> <a href="/hearing-31-october-2008">Hearing, 31 October 2008</a> </li>
    <li> <a href="/hearing-3-november-2008">Hearing, 3 November 2008</a> </li>
    <li> <a href="/hearing-5-november-2008">Hearing, 5 November 2008</a> </li>
    <li> <a href="/hearing-6-november-2008">Hearing, 6 November 2008</a> </li>
    <li> <a href="/hearing-12-november-2008">Hearing, 12 November 2008</a> </li>
    <li> <a href="/hearing-13-november-2008">Hearing, 13 November 2008</a> </li>
    <li> <a href="/hearing-14-november-2008">Hearing, 14 November 2008</a> </li>
    <li> <a href="/hearing-17-november-2008">Hearing, 17 November 2008</a> </li>
    <li> <a href="/hearing-18-november-2008">Hearing, 18 November 2008</a> </li>
    <li> <a href="/hearing-19-november-2008">Hearing, 19 November 2008</a> </li>
    <li> <a href="/hearing-21-november-2008">Hearing, 21 November 2008</a> </li>
    <li> <a href="/hearing-24-november-2008">Hearing, 24 November 2008</a> </li>
    <li> <a href="/hearing-25-november-2008">Hearing, 25 November 2008</a> </li>
    <li> <a href="/hearing-26-november-2008">Hearing, 26 November 2008</a> </li>
    <li> <a href="/hearing-1-december-2008">Hearing, 1 December 2008</a> </li>
    <li> <a href="/hearing-2-december-2008">Hearing, 2 December 2008</a> </li>
    <li> <a href="/hearing-3-december-2008">Hearing, 3 December 2008</a> </li>
    <li> <a href="/hearing-4-december-2008">Hearing, 4 December 2008</a> </li>
    <li> <a href="/hearing-5-december-2008">Hearing, 5 December 2008</a> </li>
    <li> <a href="/hearing-8-december-2008">Hearing, 8 December 2008</a> </li>
    <li> <a href="/hearing-10-december-2008">Hearing, 10 December 2008</a> </li>
    <li> <a href="/hearing-11-december-2008">Hearing, 11 December 2008</a> </li>
    <li> <a href="/hearing-12-january-2009">Hearing, 12 January 2009</a> </li>
    <li> <a href="/hearing-13-january-2009">Hearing, 13 January 2009</a> </li>
    <li> <a href="/hearing-14-january-2009">Hearing, 14 January 2009</a> </li>
    <li> <a href="/hearing-15-january-2009">Hearing, 15 January 2009</a> </li>
    <li> <a href="/hearing-16-january-2009">Hearing, 16 January 2009</a> </li>
    <li> <a href="/hearing-19-january-2009">Hearing, 19 January 2009</a> </li>
    <li> <a href="/hearing-20-january-2009">Hearing, 20 January 2009</a> </li>
    <li> <a href="/hearing-21-january-2009">Hearing, 21 January 2009</a> </li>
    <li> <a href="/hearing-22-january-2009">Hearing, 22 January 2009</a> </li>
    <li> <a href="/hearing-23-january-2009">Hearing, 23 January 2009</a> </li>
    <li> <a href="/hearing-26-january-2009">Hearing, 26 January 2009</a> </li>
    <li> <a href="/hearing-27-january-2009">Hearing, 27 January 2009</a> </li>
    <li> <a href="/hearing-28-january-2009">Hearing, 28 January 2009</a> </li>
    <li> <a href="/hearing-29-january-2009">Hearing, 29 January 2009</a> </li>
    <li> <a href="/hearing-30-january-2009">Hearing, 30 January 2009</a> </li>
    <li> <a href="/hearing-9-february-2009">Hearing, 9 February 2009</a> </li>
    <li> <a href="/hearing-19-february-2009">Hearing, 19 February 2009</a> </li>
    <li> 27 February 2009? </li>
</ul>

<h2>Motion for Judgement of Acquittal</h2>
<ul>
    <li> <a href="/hearing-6-april-2009">Hearing, 6 April 2009</a> </li>
    <li> <a href="/hearing-9-april-2009">Hearing, 9 April 2009</a> </li>
    <li> <a href="/hearing-4-may-2009">Hearing, 4 May 2009</a> </li>
</ul>

    </div>
    <div class="large-4 columns">

<h2>Pre-defence</h2>
<ul>
    <li> <a href="/hearing-7-may-2009">Hearing, 7 May 2009</a> </li>
    <li> <a href="/hearing-8-june-2009">Hearing, 8 June 2009</a> </li>
    <li> <a href="/hearing-6-july-2009">Hearing, 6 July 2009</a> </li>
</ul>

<h2>Defence</h2>
<ul>
    <li> <a href="/hearing-13-july-2009">Hearing, 13 July 2009</a> </li>
    <li> <a href="/hearing-14-july-2009">Hearing, 14 July 2009</a> </li>
    <li> <a href="/hearing-15-july-2009">Hearing, 15 July 2009</a> </li>
    <li> <a href="/hearing-16-july-2009">Hearing, 16 July 2009</a> </li>
    <li> <a href="/hearing-20-july-2009">Hearing, 20 July 2009</a> </li>
    <li> <a href="/hearing-21-july-2009">Hearing, 21 July 2009</a> </li>
    <li> <a href="/hearing-22-july-2009">Hearing, 22 July 2009</a> </li>
    <li> <a href="/hearing-23-july-2009">Hearing, 23 July 2009</a> </li>
    <li> <a href="/hearing-27-july-2009">Hearing, 27 July 2009</a> </li>
    <li> <a href="/hearing-28-july-2009">Hearing, 28 July 2009</a> </li>
    <li> <a href="/hearing-29-july-2009">Hearing, 29 July 2009</a> </li>
    <li> <a href="/hearing-30-july-2009">Hearing, 30 July 2009</a> </li>
    <li> <a href="/hearing-3-august-2009">Hearing, 3 August 2009</a> </li>
    <li> <a href="/hearing-4-august-2009">Hearing, 4 August 2009</a> </li>
    <li> <a href="/hearing-5-august-2009">Hearing, 5 August 2009</a> </li>
    <li> <a href="/hearing-6-august-2009">Hearing, 6 August 2009</a> </li>
    <li> <a href="/hearing-10-august-2009">Hearing, 10 August 2009</a> </li>
    <li> <a href="/hearing-11-august-2009">Hearing, 11 August 2009</a> </li>
    <li> <a href="/hearing-12-august-2009">Hearing, 12 August 2009</a> </li>
    <li> <a href="/hearing-13-august-2009">Hearing, 13 August 2009</a> </li>
    <li> <a href="/hearing-17-august-2009">Hearing, 17 August 2009</a> </li>
    <li> <a href="/hearing-18-august-2009">Hearing, 18 August 2009</a> </li>
    <li> <a href="/hearing-19-august-2009">Hearing, 19 August 2009</a> </li>
    <li> <a href="/hearing-20-august-2009">Hearing, 20 August 2009</a> </li>
    <li> <a href="/hearing-24-august-2009">Hearing, 24 August 2009</a> </li>
    <li> <a href="/hearing-25-august-2009">Hearing, 25 August 2009</a> </li>
    <li> <a href="/hearing-26-august-2009">Hearing, 26 August 2009</a> </li>
    <li> <a href="/hearing-27-august-2009">Hearing, 27 August 2009</a> </li>
    <li> <a href="/hearing-31-august-2009">Hearing, 31 August 2009</a> </li>
    <li> <a href="/hearing-1-september-2009">Hearing, 1 September 2009</a> </li>
    <li> <a href="/hearing-2-september-2009">Hearing, 2 September 2009</a> </li>
    <li> <a href="/hearing-7-september-2009">Hearing, 7 September 2009</a> </li>
    <li> <a href="/hearing-8-september-2009">Hearing, 8 September 2009</a> </li>
    <li> <a href="/hearing-9-september-2009">Hearing, 9 September 2009</a> </li>
    <li> <a href="/hearing-10-september-2009">Hearing, 10 September 2009</a> </li>
    <li> <a href="/hearing-14-september-2009">Hearing, 14 September 2009</a> </li>
    <li> <a href="/hearing-15-september-2009">Hearing, 15 September 2009</a> </li>
    <li> <a href="/hearing-16-september-2009">Hearing, 16 September 2009</a> </li>
    <li> <a href="/hearing-17-september-2009">Hearing, 17 September 2009</a> </li>
    <li> <a href="/hearing-22-september-2009">Hearing, 22 September 2009</a> </li>
    <li> <a href="/hearing-23-september-2009">Hearing, 23 September 2009</a> </li>
    <li> <a href="/hearing-24-september-2009">Hearing, 24 September 2009</a> </li>
    <li> <a href="/hearing-29-september-2009">Hearing, 29 September 2009</a> </li>
    <li> <a href="/hearing-30-september-2009">Hearing, 30 September 2009</a> </li>
    <li> <a href="/hearing-1-october-2009">Hearing, 1 October 2009</a> </li>
    <li> <a href="/hearing-26-october-2009">Hearing, 26 October 2009</a> </li>
    <li> <a href="/hearing-27-october-2009">Hearing, 27 October 2009</a> </li>
    <li> <a href="/hearing-28-october-2009">Hearing, 28 October 2009</a> </li>
    <li> <a href="/hearing-29-october-2009">Hearing, 29 October 2009</a> </li>
    <li> <a href="/hearing-2-november-2009">Hearing, 2 November 2009</a> </li>
    <li> <a href="/hearing-3-november-2009">Hearing, 3 November 2009</a> </li>
    <li> <a href="/hearing-4-november-2009">Hearing, 4 November 2009</a> </li>
    <li> <a href="/hearing-5-november-2009">Hearing, 5 November 2009</a> </li>
    <li> <a href="/hearing-9-november-2009">Hearing, 9 November 2009</a> </li>
    <li> <a href="/hearing-10-november-2009">Hearing, 10 November 2009</a> </li>
    <li> <a href="/hearing-11-november-2009">Hearing, 11 November 2009</a> </li>
    <li> <a href="/hearing-12-november-2009">Hearing, 12 November 2009</a> </li>
    <li> <a href="/hearing-16-november-2009">Hearing, 16 November 2009</a> </li>
    <li> <a href="/hearing-17-november-2009">Hearing, 17 November 2009</a> </li>
    <li> <a href="/hearing-18-november-2009">Hearing, 18 November 2009</a> </li>
    <li> <a href="/hearing-19-november-2009">Hearing, 19 November 2009</a> </li>
    <li> <a href="/hearing-23-november-2009">Hearing, 23 November 2009</a> </li>
    <li> <a href="/hearing-24-november-2009">Hearing, 24 November 2009</a> </li>
    <li> <a href="/hearing-25-november-2009">Hearing, 25 November 2009</a> </li>
    <li> <a href="/hearing-26-november-2009">Hearing, 26 November 2009</a> </li>
    <li> <a href="/hearing-1-december-2009">Hearing, 1 December 2009</a> </li>
    <li> <a href="/hearing-2-december-2009">Hearing, 2 December 2009</a> </li>
    <li> <a href="/hearing-3-december-2009">Hearing, 3 December 2009</a> </li>
    <li> <a href="/hearing-7-december-2009">Hearing, 7 December 2009</a> </li>
    <li> <a href="/hearing-11-january-2010">Hearing, 11 January 2010</a> </li>
    <li> <a href="/hearing-12-january-2010">Hearing, 12 January 2010</a> </li>
    <li> <a href="/hearing-13-january-2010">Hearing, 13 January 2010</a> </li>
    <li> <a href="/hearing-14-january-2010">Hearing, 14 January 2010</a> </li>
    <li> <a href="/hearing-18-january-2010">Hearing, 18 January 2010</a> </li>
    <li> <a href="/hearing-19-january-2010">Hearing, 19 January 2010</a> </li>
    <li> <a href="/hearing-20-january-2010">Hearing, 20 January 2010</a> </li>
    <li> <a href="/hearing-21-january-2010">Hearing, 21 January 2010</a> </li>
    <li> <a href="/hearing-25-january-2010">Hearing, 25 January 2010</a> </li>
    <li> <a href="/hearing-26-january-2010">Hearing, 26 January 2010</a> </li>
    <li> <a href="/hearing-27-january-2010">Hearing, 27 January 2010</a> </li>
    <li> <a href="/hearing-28-january-2010">Hearing, 28 January 2010</a> </li>
    <li> <a href="/hearing-1-february-2010">Hearing, 1 February 2010</a> </li>
    <li> <a href="/hearing-2-february-2010">Hearing, 2 February 2010</a> </li>
    <li> <a href="/hearing-4-february-2010">Hearing, 4 February 2010</a> </li>
    <li> <a href="/hearing-5-february-2010">Hearing, 5 February 2010</a> </li>
    <li> <a href="/hearing-8-february-2010">Hearing, 8 February 2010</a> </li>
    <li> <a href="/hearing-15-february-2010">Hearing, 15 February 2010</a> </li>
    <li> <a href="/hearing-16-february-2010">Hearing, 16 February 2010</a> </li>
    <li> <a href="/hearing-17-february-2010">Hearing, 17 February 2010</a> </li>
    <li> <a href="/hearing-18-february-2010">Hearing, 18 February 2010</a> </li>
    <li> <a href="/hearing-22-february-2010">Hearing, 22 February 2010</a> </li>
    <li> <a href="/hearing-23-february-2010">Hearing, 23 February 2010</a> </li>
    <li> <a href="/hearing-24-february-2010">Hearing, 24 February 2010</a> </li>
    <li> <a href="/hearing-25-february-2010">Hearing, 25 February 2010</a> </li>
    <li> <a href="/hearing-26-february-2010">Hearing, 26 February 2010</a> </li>
    <li> <a href="/hearing-1-march-2010">Hearing, 1 March 2010</a> </li>
    <li> <a href="/hearing-2-march-2010">Hearing, 2 March 2010</a> </li>
    <li> <a href="/hearing-3-march-2010">Hearing, 3 March 2010</a> </li>
    <li> <a href="/hearing-4-march-2010">Hearing, 4 March 2010</a> </li>
    <li> <a href="/hearing-9-march-2010">Hearing, 9 March 2010</a> </li>
    <li> <a href="/hearing-10-march-2010">Hearing, 10 March 2010</a> </li>
    <li> <a href="/hearing-11-march-2010">Hearing, 11 March 2010</a> </li>
    <li> <a href="/hearing-12-march-2010">Hearing, 12 March 2010</a> </li>
    <li> <a href="/hearing-16-march-2010">Hearing, 16 March 2010</a> </li>
    <li> <a href="/hearing-17-march-2010">Hearing, 17 March 2010</a> </li>
    <li> <a href="/hearing-18-march-2010">Hearing, 18 March 2010</a> </li>
    <li> <a href="/hearing-19-march-2010">Hearing, 19 March 2010</a> </li>
    <li> <a href="/hearing-22-march-2010">Hearing, 22 March 2010</a> </li>
    <li> <a href="/hearing-23-march-2010">Hearing, 23 March 2010</a> </li>
    <li> <a href="/hearing-24-march-2010">Hearing, 24 March 2010</a> </li>
    <li> <a href="/hearing-25-march-2010">Hearing, 25 March 2010</a> </li>
    <li> <a href="/hearing-26-march-2010">Hearing, 26 March 2010</a> </li>
    <li> <a href="/hearing-30-march-2010">Hearing, 30 March 2010</a> </li>
    <li> <a href="/hearing-31-march-2010">Hearing, 31 March 2010</a> </li>
    <li> <a href="/hearing-1-april-2010">Hearing, 1 April 2010</a> </li>
    <li> <a href="/hearing-12-april-2010">Hearing, 12 April 2010</a> </li>
    <li> <a href="/hearing-13-april-2010">Hearing, 13 April 2010</a> </li>
    <li> <a href="/hearing-14-april-2010">Hearing, 14 April 2010</a> </li>
    <li> <a href="/hearing-15-april-2010">Hearing, 15 April 2010</a> </li>
    <li> <a href="/hearing-16-april-2010">Hearing, 16 April 2010</a> </li>
    <li> <a href="/hearing-19-april-2010">Hearing, 19 April 2010</a> </li>
    <li> <a href="/hearing-20-april-2010">Hearing, 20 April 2010</a> </li>
    <li> <a href="/hearing-21-april-2010">Hearing, 21 April 2010</a> </li>
    <li> <a href="/hearing-22-april-2010">Hearing, 22 April 2010</a> </li>
    <li> <a href="/hearing-23-april-2010">Hearing, 23 April 2010</a> </li>
    <li> <a href="/hearing-26-april-2010">Hearing, 26 April 2010</a> </li>
    <li> <a href="/hearing-27-april-2010">Hearing, 27 April 2010</a> </li>
    <li> <a href="/hearing-28-april-2010">Hearing, 28 April 2010</a> </li>
    <li> <a href="/hearing-29-april-2010">Hearing, 29 April 2010</a> </li>
    <li> <a href="/hearing-3-may-2010">Hearing, 3 May 2010</a> </li>
    <li> <a href="/hearing-4-may-2010">Hearing, 4 May 2010</a> </li>
    <li> <a href="/hearing-6-may-2010">Hearing, 6 May 2010</a> </li>
    <li> <a href="/hearing-7-may-2010">Hearing, 7 May 2010</a> </li>
    <li> <a href="/hearing-10-may-2010">Hearing, 10 May 2010</a> </li>
    <li> <a href="/hearing-11-may-2010">Hearing, 11 May 2010</a> </li>
    <li> <a href="/hearing-12-may-2010">Hearing, 12 May 2010</a> </li>
    <li> <a href="/hearing-17-may-2010">Hearing, 17 May 2010</a> </li>
    <li> <a href="/hearing-18-may-2010">Hearing, 18 May 2010</a> </li>
    <li> <a href="/hearing-19-may-2010">Hearing, 19 May 2010</a> </li>
    <li> <a href="/hearing-20-may-2010">Hearing, 20 May 2010</a> </li>
    <li> <a href="/hearing-21-may-2010">Hearing, 21 May 2010</a> </li>
    <li> <a href="/hearing-31-may-2010">Hearing, 31 May 2010</a> </li>
    <li> <a href="/hearing-1-june-2010">Hearing, 1 June 2010</a> </li>
    <li> <a href="/hearing-2-june-2010">Hearing, 2 June 2010</a> </li>
    <li> <a href="/hearing-3-june-2010">Hearing, 3 June 2010</a> </li>
    <li> <a href="/hearing-4-june-2010">Hearing, 4 June 2010</a> </li>
    <li> <a href="/hearing-7-june-2010">Hearing, 7 June 2010</a> </li>
    <li> <a href="/hearing-8-june-2010">Hearing, 8 June 2010</a> </li>
    <li> <a href="/hearing-9-june-2010">Hearing, 9 June 2010</a> </li>
    <li> <a href="/hearing-10-june-2010">Hearing, 10 June 2010</a> </li>
    <li> <a href="/hearing-11-june-2010">Hearing, 11 June 2010</a> </li>
    <li> <a href="/hearing-14-june-2010">Hearing, 14 June 2010</a> </li>
    <li> <a href="/hearing-16-june-2010">Hearing, 16 June 2010</a> </li>
    <li> <a href="/hearing-17-june-2010">Hearing, 17 June 2010</a> </li>
    <li> <a href="/hearing-18-june-2010">Hearing, 18 June 2010</a> </li>
    <li> <a href="/hearing-21-june-2010">Hearing, 21 June 2010</a> </li>
    <li> <a href="/hearing-22-june-2010">Hearing, 22 June 2010</a> </li>
    <li> <a href="/hearing-23-june-2010">Hearing, 23 June 2010</a> </li>
    <li> <a href="/hearing-24-june-2010">Hearing, 24 June 2010</a> </li>
    <li> <a href="/hearing-25-june-2010">Hearing, 25 June 2010</a> </li>
    <li> <a href="/hearing-28-june-2010">Hearing, 28 June 2010</a> </li>
    <li> <a href="/hearing-5-july-2010">Hearing, 5 July 2010</a> </li>
    <li> <a href="/hearing-6-july-2010">Hearing, 6 July 2010</a> </li>
    <li> <a href="/hearing-7-july-2010">Hearing, 7 July 2010</a> </li>
    <li> <a href="/hearing-8-july-2010">Hearing, 8 July 2010</a> </li>
    <li> <a href="/hearing-9-july-2010">Hearing, 9 July 2010</a> </li>
    <li> <a href="/hearing-12-july-2010">Hearing, 12 July 2010</a> </li>
    <li> <a href="/hearing-13-july-2010">Hearing, 13 July 2010</a> </li>
    <li> <a href="/hearing-14-july-2010">Hearing, 14 July 2010</a> </li>
    <li> <a href="/hearing-15-july-2010">Hearing, 15 July 2010</a> </li>
    <li> <a href="/hearing-16-july-2010">Hearing, 16 July 2010</a> </li>
    <li> <a href="/hearing-26-july-2010">Hearing, 26 July 2010</a> </li>
    <li> <a href="/hearing-27-july-2010">Hearing, 27 July 2010</a> </li>
    <li> <a href="/hearing-28-july-2010">Hearing, 28 July 2010</a> </li>
    <li> <a href="/hearing-29-july-2010">Hearing, 29 July 2010</a> </li>
    <li> <a href="/hearing-30-july-2010">Hearing, 30 July 2010</a> </li>
    <li> <a href="/hearing-2-august-2010">Hearing, 2 August 2010</a> </li>
    <li> <a href="/hearing-3-august-2010">Hearing, 3 August 2010</a> </li>
    <li> <a href="/hearing-4-august-2010">Hearing, 4 August 2010</a> </li>
    <li> <a href="/hearing-5-august-2010">Hearing, 5 August 2010</a> </li>
    <li> <a href="/hearing-6-august-2010">Hearing, 6 August 2010</a> </li>
    <li> <a href="/hearing-9-august-2010">Hearing, 9 August 2010</a> </li>
    <li> <a href="/hearing-10-august-2010">Hearing, 10 August 2010</a> </li>
    <li> <a href="/hearing-11-august-2010">Hearing, 11 August 2010</a> </li>
    <li> <a href="/hearing-12-august-2010">Hearing, 12 August 2010</a> </li>
    <li> <a href="/hearing-13-august-2010">Hearing, 13 August 2010</a> </li>
    <li> <a href="/hearing-16-august-2010">Hearing, 16 August 2010</a> </li>
    <li> <a href="/hearing-17-august-2010">Hearing, 17 August 2010</a> </li>
    <li> <a href="/hearing-18-august-2010">Hearing, 18 August 2010</a> </li>
    <li> <a href="/hearing-19-august-2010">Hearing, 19 August 2010</a> </li>
    <li> <a href="/hearing-23-august-2010">Hearing, 23 August 2010</a> </li>
    <li> <a href="/hearing-24-august-2010">Hearing, 24 August 2010</a> </li>
    <li> <a href="/hearing-25-august-2010">Hearing, 25 August 2010</a> </li>
    <li> <a href="/hearing-26-august-2010">Hearing, 26 August 2010</a> </li>
    <li> <a href="/hearing-27-august-2010">Hearing, 27 August 2010</a> </li>
    <li> <a href="/hearing-30-august-2010">Hearing, 30 August 2010</a> </li>
    <li> <a href="/hearing-31-august-2010">Hearing, 31 August 2010</a> </li>
    <li> <a href="/hearing-1-september-2010">Hearing, 1 September 2010</a> </li>
    <li> <a href="/hearing-2-september-2010">Hearing, 2 September 2010</a> </li>
    <li> <a href="/hearing-3-september-2010">Hearing, 3 September 2010</a> </li>
    <li> <a href="/hearing-6-september-2010">Hearing, 6 September 2010</a> </li>
    <li> <a href="/hearing-7-september-2010">Hearing, 7 September 2010</a> </li>
    <li> <a href="/hearing-13-september-2010">Hearing, 13 September 2010</a> </li>
    <li> <a href="/hearing-27-september-2010">Hearing, 27 September 2010</a> </li>
    <li> <a href="/hearing-22-october-2010">Hearing, 22 October 2010</a> </li>
    <li> <a href="/hearing-1-november-2010">Hearing, 1 November 2010</a> </li>
    <li> <a href="/hearing-3-november-2010">Hearing, 3 November 2010</a> </li>
    <li> <a href="/hearing-4-november-2010">Hearing, 4 November 2010</a> </li>
    <li> <a href="/hearing-5-november-2010">Hearing, 5 November 2010</a> </li>
    <li> <a href="/hearing-8-november-2010">Hearing, 8 November 2010</a> </li>
    <li> <a href="/hearing-9-november-2010">Hearing, 9 November 2010</a> </li>
    <li> <a href="/hearing-12-november-2010">Hearing, 12 November 2010</a> </li>
</ul>

    </div>
    <div class="large-4 columns">

<h2>Closing arguments</h2>
<ul>
    <li> <a href="/hearing-20-january-2011">Hearing, 20 January 2011</a> </li>
    <li> <a href="/hearing-8-february-2011">Hearing, 8 February 2011</a> </li>
    <li> <a href="/hearing-9-february-2011">Hearing, 9 February 2011</a> </li>
    <li> <a href="/hearing-11-february-2011">Hearing, 11 February 2011</a> </li>
    <li> <a href="/hearing-25-february-2011">Hearing, 25 February 2011</a> </li>
    <li> <a href="/hearing-7-march-2011">Hearing, 7 March 2011</a> </li>
    <li> <a href="/hearing-9-march-2011">Hearing, 9 March 2011</a> </li>
    <li> <a href="/hearing-10-march-2011">Hearing, 10 March 2011</a> </li>
    <li> <a href="/hearing-11-march-2011">Hearing, 11 March 2011</a> </li>
</ul>

<h2>Verdict</h2>
<ul>
    <li> <a href="/hearing-26-april-2012-2">Hearing, 26 April 2012</a> </li>
    <li> <a href="/hearing-16-may-2012-2">Hearing, 16 May 2012</a> </li>
    <li> <a href="/hearing-30-may-2012-2">Hearing, 30 May 2012</a> </li>
</ul>

<h2>Appeal</h2>
<ul>
    <li> <a href="/hearing-18-june-2012">Hearing, 18 June 2012</a> </li>
    <li> <a href="/hearing-22-january-2013">Hearing, 22 January 2013</a> </li>
    <li> <a href="/hearing-23-january-2013">Hearing, 23 January 2013</a> </li>
    <li> <a href="/hearing-26-september-2013">Hearing, 26 September 2013</a> </li>
</ul>

    </div>
</div>

{% endblock %}
