{% extends 'speeches/home.html' %}
{% load i18n %}
{% load speech_utils %}

{% block title %}{{ request.instance.title }}{% endblock %}

{% block instance_search_title %}
Search the Leveson Inquiry transcripts
{% endblock %}

{% block instance_blocks %}
        </div>
    </div>
</div>

<div class="featured-elements grey-section">
  <div class="full-page__row">
      <div class="featured-elements__unit">
        <a href="/hearing-24-november-2011/ms-joanne-rowling" class="featured-block">
          <h3>Read JK Rowling&rsquo;s session</h3>
          <span class="featured-block__date">
            24 November 2011
          </span>
        </a>
      </div>
      <div class="featured-elements__unit">
        <a href="/hearing-21-november-2011/mr-hugh-grant" class="featured-block">
          <h3>Read Hugh Grant&rsquo;s session</h3>
          <span class="featured-block__date">
            21 November 2011
          </span>
        </a>
      </div>
      <div class="featured-elements__unit">
        <a href="/hearing-6-february-2012/mr-paul-dacre" class="featured-block">
          <h3>Read Paul Dacre&rsquo;s session</h3>
          <span class="featured-block__date">
            6 February 2012
          </span>
        </a>
      </div>
      <div class="featured-elements__unit">
        <a href="/hearing-13-june-2012/mr-nicholas-clegg" class="featured-block">
          <h3>Read Nick Clegg&rsquo;s session</h3>
          <span class="featured-block__date">
            13 June 2012
          </span>
        </a>
{% endblock %}
