
@import "compass/css3";

$small-screen: 48em;
$medium-screen: 48em;
$large-screen: 60em;

$colour_primary: #e14a55;
$colour_black: #222222;
$colour_dark_grey: #666361;
$colour_mid_grey: #ccc7c3;
$colour_light_grey: #e9e7e4;

$weight_light: 300;
$weight_bold: 700;

@mixin unstyled-list {
    li {
       list-style: none outside none;
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    &{
        *zoom: 1;
    }
}

/* TODO  - should probably fix this stuff but it's fine for the moment */
.unstyled {
    @include unstyled-list;
}