// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "compass/css3";

/* Custom variables */
$colour_black: #222222;
$colour_dark_grey: #666361;
$colour_mid_grey: #ccc7c3;
$colour_light_grey: #e9e7e4;

$weight_light: 300;
$weight_bold: 700;


/* Custom mixins */
@mixin unstyled-list {
    li {
       list-style: none outside none;
    }

}

html,
body {
    height: 100%;
    background: #222;
}

.full-page {
    background: #fff;
}

/* Base typography */
h1, h2 {
    letter-spacing: 0.02em;
}

h3 {
    font-weight: $weight_bold;
}

.body-text {
    font-size: emCalc(15);
}

/* Buttons */
.button {
    @include box-shadow(none);
}

/* Staging alert-box */
.alert-box--header {
    margin-bottom: 0;
    border: none;
}

/* Brand header */
.brand-header {
    background: $colour_black;
}

.brand-header__title {
    color: #fff;
    font-size: emCalc(24);
    font-weight: $weight_bold;
    letter-spacing: 0;
    .subtitle {
        font-size: .583333333em; /* 14px */
        font-weight: $weight_light;
    }
}

.admin-menu-container {
    text-align: right;
}

.admin-menu-button {
    margin-top: 1.1em;
    /* show at all? */
    &.button.secondary {
        /* Override some Foundation stuff */
        background: transparent;
        color: #fff;
        border-color: #333;
        @include box-shadow(none);
        &:before {
            border-color: rgba(255,255,255,0.8) transparent transparent transparent;
        }
    }
}

/* Brand footer */
.brand-footer {
    padding: 3em 0;
}

/* Instance header */
.instance-header {
    border-bottom: 1px solid $colour_light_grey;
    padding-top: emCalc(24);
    background: #fff;
}

.instance-header__title {
    font-weight: $weight_bold;
    font-size: emCalc(32);
    margin-bottom: 0.15em;
    margin-top: 0;
    line-height: 1em;
    a {
        &:link,
        &:visited {
            color: $colour_black;
        }
        &:hover,
        &:active,
        &:focus {
            color: $primary-color;
        }
    }
}

.instance-header__subtitle {
    font-size: emCalc(13);
    color: $colour_dark_grey;
    max-width: 29em;
    line-height: 1.461538462em;
}

.site-search {
    margin-top: 0.75em;
}

.site-search__input {
    -webkit-appearance: none;
}

.primary-navigation-bar {
    /* Not using Foundation's .topbar, because it was too hard to customise :( */
    .inline-list {
        margin-bottom: 0;
        margin-left: -0.5em;
        > li {
            margin-left: 0.5em;
        }
    }
    a {
        font-size: emCalc(15);
        letter-spacing: 0.02em;

        border-bottom: .375em solid transparent;
        padding: 0 0.5em 0.37em;
        &:link,
        &:visited {
            color: $colour_dark_grey;
        }
        &:hover,
        &:active,
        &:focus {
            color: $colour_black;
        }
    }
    .active {
        a {
            border-color: $colour_light_grey;
            color: $colour_black;
        }
    }
}

/* forms */
.errorlist {
    @include unstyled-list();
}
