// Global Foundation Settings
@import "speeches/sass/settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
//@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
@import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/dropdown";

@import "compass/css3";
@import "speeches/sass/sayit-mixins";



html,
body {
    height: 100%;
    background: $body-bg;
    color: $body-font-color;
}

strong, b {
    font-weight: $weight_bold;
}

.full-page {
    background: #fff;
    color: #222;
}

/* Base typography */

h1 {
    letter-spacing: 0.02em;
}

h2,
h3 {
    font-weight: $weight_bold;
}

h2 {
    font-size: 1.33em; /* Having to declare this here as Foundation is mkaing it too small, can't work out why or how */
    @media (min-width: $medium-screen) {
        font-size: 1.5em;
    }
}

.body-text {
    font-size: emCalc(15);
}

.skinny-type {
    font-weight: $weight_light;
}

.centered {
    text-align: center;
}

.pull-right {
     @media (min-width: $medium-screen) {
        float: right;
        margin-left: 1em;
    }
}
.pull-left {
     @media (min-width: $medium-screen) {
        float: left;
        margin-left: 1em;
    }
}

ul {
    margin-left: 1.2em;
}

pre {
    padding: 1em;
    background: $colour_off_white;
    border: 1px solid $colour_light_grey;
    line-height: 1.5em;
    margin-bottom: 1em;
    @include border-radius(3px);
    font-size: emCalc(14);
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    max-width: 100%;
    overflow-x: scroll;
}

a {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    color: $colour_primary;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: darken($colour_primary, 10%);
}

/* Buttons */
.button {
    @include box-shadow(none);
    &:hover {
        text-decoration: none;
    }
}

/* forms */
.errorlist {
    @include unstyled-list();
}
.error {
    @include form-error-color;
}
.select2-container {
    margin-bottom: 1em;
}

form {
    margin-bottom: 0;
}

/* Staging alert-box */
.alert-box--header {
    margin-bottom: 0;
    border: none;
}
/* mySociety header */
.ms-header {
    background: transparent;
    border-top: 4px solid #424242;
}

.ms-header__row {
    @include grid-row;
    position: relative;
}

.ms-header__logo {
    @extend .image-replacement;
    display: block;
    position: absolute;
    right: 0.75em;
    top: 0;
    background-color: #424242;
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
    @include border-radius(0 0 0.75em 0.75em);
    @include background-size(22px);
    background-position: 11px 7px ;
    background-image: url('../img/mysociety-bloom.png');

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/mysociety-bloom@2.png');
    }

    @media (min-width: $medium-screen) {
        @include border-radius(0 0 1.25em 1.25em);
        background-position: 16px 10px ;
        @include background-size(93px 19px);
        background-image: url('../img/mysociety-logo.png');
        width: 125px;
        height: 39px;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/mysociety-logo@2.png');
        }
    }


}

/* Brand header */
.brand-header {
    background: $colour_black;
    a:link,
    a:visited {
        color: #fff;
    }
}

.brand-header__row {
    @include grid-row;
}

.brand-header__title-unit {
    min-width: 15em;
    float: left;
    margin-right: 2.4%;
    margin-left: 0.75em;
}

.brand-header__title {
    color: #fff;
    font-size: emCalc(24);
    font-weight: $weight_bold;
    letter-spacing: 0;
/*
    height: 1.42em; //prevents a little jump before the JS ticker fires
    @media (min-width: $medium-screen) {
        height: auto;
    }
*/
    .subtitle {
        font-size: .458333333em; /* 11px */
        @media (min-width: $medium-screen) {
            font-size: .583333333em; /* 14px */
        }

        font-weight: $weight_light;
    }
}

.brand-header__navigation {
    display: none; //temporary hide on mobile: #todo: fix on mobile
    @media (min-width: $medium-screen) {
        display: block;
    }
    float: right;
    margin-top: 0.95em;
    margin-right: 145px;
    a {
        display: inline-block;
        margin-right: 1em;
        font-size: 0.8125em;
        letter-spacing: 0.02em;
    }
}

.admin-menu-container {
    position: fixed;
    top: 0;
    left: 1em;
    z-index: 500;
    min-width: 280px;
    a {
        &:link {
            color: $colour_primary;
        }
        &:hover,
        &:active,
        &:visited {
            color: darken($colour_primary, 10%);
        }
    }
}

.admin-menu-button {
    margin-top: 1.1em;
    /* show at all? */
    &.button.secondary {
        /* Override some Foundation stuff */
        background: transparent;
        color: #fff;
        border-color: #333;
        @include box-shadow(none);
        &:before {
            border-color: rgba(255,255,255,0.8) transparent transparent transparent;
        }
    }
}


/* Instance header */
.instance-header {
    border-bottom: 5px solid $colour_light_grey;
    padding-top: emCalc(15);
    padding-bottom: emCalc(15);
    background: $colour_primary;
    position: relative;
    a {
        &:link,
        &:visited {
            color: #fff;
        }
    }
}

.instance-header__row {
    @include grid-row;
}

.instance-header__title-unit {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(6);
    }
}

.instance-header__title {
    float: left;
    width: 100%;
    @media (min-width: $large-screen) {
        width: 50%;
    }
    @media (min-width: $huge-screen) {
        width: 37%;
    }
    h1 {
        font-weight: $weight_light;
        font-size: emCalc(24);
        margin-top: 0.2em;
        line-height: 1em;
        color: #fff;
    }
    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

.instance-header__subtitle {
    width: 100%;
    float: left;
    margin-bottom: .5em;
    @media (min-width: $large-screen) {
        width: 49%;
    }
    @media (min-width: $huge-screen) {
        width: 61%;
        margin-left: 2%;
    }
    p {
        font-size: emCalc(13);
        color: #fff;
        line-height: 1.461538462em;
        margin-bottom: 0;
    }
}

.instance-header__search-nav {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(6);
    }
}

.site-search__input,
.site-search__input[type="search"] {
    -webkit-appearance: none;
}

.site-search__input[type="search"] {
    @include border-radius(2em);
    padding: 0.5em 0.75em;
    margin-bottom: 0;
}

.site-search--header {
    float: left;
    width: 100%;
    @media (min-width: $medium-screen) {
        margin-top: 2.8em;
    }
    @media (min-width: $large-screen) {
        margin-top: 0;
        width: 50%;
    }
    .site-search__input[type="search"] {
        background: darken($colour_primary, 5%);
        color: #fff;
        border: none;
    }
    .site-search__input[type="search"]:focus {
        background: darken($colour_primary, 5%);
        color: #fff;
        border: none;
        @include box-shadow(none);
    }

    .site-search__input::-webkit-input-placeholder {
        color: #fff;
    }
    .site-search__input::-moz-placeholder {
        color: #fff;
    }
    .site-search__input:-moz-placeholder {   /* Older versions of Firefox */
        color: #fff;
    }
    .site-search__input:-ms-input-placeholder {
       color: #fff;
    }
}

.site-search--homepage {
    @include grid-column(12, $center:true);
    @media (min-width: $medium-screen) {
        @include grid-column(8, $center:true);
    }
    @media (min-width: $large-screen) {
        @include grid-column(6, $center:true);
    }
}

.site-search--on-results-page {
    margin-bottom: 2em;
}

.site-search__person-only {
    label {
        font-size: 1em;
        margin-bottom: 0.5em;
    }
}

.primary-navigation-bar {
    float: left;
    width: 100%;
    @media (min-width: $large-screen) {
        width: 50%;
    }
    .menu-dropdown {
        display: block;
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        @media (min-width: $large-screen) {
            display: none;
        }
        line-height: 1.6;
    }
    .menu-dropdown--button {
        @extend .image-replacement;
        height: 2.4em; /* 36px */
        width: 2.4em;
        background-image: url('../img/hamburger.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image:  url('../img/hamburger@2.png');
        }
        background-position: center;
        background-repeat: no-repeat;
        @include background-size(28px 26px);
    }
    .nav-menu {
        @include unstyled-list;
        height: auto;
        max-height: 1000em;
        @include transition(max-height 1s ease-in-out);
        background-color: darken($colour_primary, 10%);
        position: absolute;
        right: 0.75em;
        top: 3.3em;
        z-index: 400;
        width: 47%;
        @include box-shadow(0 2px 2px rgba(0,0,0,0.2));
        @media (max-width: $large-screen) {
            &.closed {
                height: 0;
                max-height: 0;
                overflow: hidden;
                @include transition(max-height 1s ease-in-out);
            }
        }
        @media (min-width: $large-screen) {
            background-color: transparent;
            position: static;
            display: block;
            @include inline-list;
            width: auto;
            @include box-shadow(none);
        }
    }

    a {
        font-size: emCalc(18);
        letter-spacing: 0.02em;
        display: block;
        padding: 0.5em 0.75em;
        &:link,
        &:visited {
            color: #fff;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
        @media (min-width: $large-screen) {
            display: inline-block;
            padding: 0.5em;
            @include border-radius(3px);
            font-size: emCalc(15);
            &:hover,
            &:active,
            &:focus {
                background: darken($colour_primary, 5%);
            }
        }
    }
    .active {
        a {
            background: darken($colour_primary, 5%);
        }
    }
}

.grey-section {
    border-top: 1px solid $colour_light_grey;
    background-color: $colour_off_white;
    padding: 1em 0;
    @media (min-width: $medium-screen) {
        padding: 4em 0;
    }
}

.homepage-search {
    @include grid-column(12);
    .site-search__input,
    .site-search__button {
        font-size: 1.125em;
    }
    @media (min-width: $medium-screen) {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    @media (min-width: $large-screen) {
        @include grid-column(8, $center:true);
    }

    h2 {
        font-weight: $weight_light;
        font-size: 2em;
        margin-top: 1em;
        @media (min-width: $medium-screen) {
            font-size: 2.5em;
        }
        @media (min-width: $huge-screen) {
            font-size: 2.8em;
        }
        text-align: center;
    }
}

.homepage-stats {
    text-align: center;
    padding: 1em 0 3em;
    font-size: emCalc(24);
    font-weight: $weight_light;
    line-height: 1.4em;
}

.search-wrapper {
    position: relative;
    max-width: 40em;
    .icon-search {
        position: absolute;
        right: 0.6em;
        top: 23%;
    }
}

.icon-search {
    display: block;
    height: emCalc(20);
    width: emCalc(20);
    @include background-size(69px 78px);
    background-image: url(../img/search-icons.png);
    background-position: 0 -40px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    @extend .image-replacement;
    &.icon-search--white {
        background-position: 0 0
    }
}

.featured-block {
    background-color: transparent;
    border: 1px solid darken($colour_light_grey, 5%);
    @include border-radius(3px);
    text-align: center;
    padding: 3em 1.5em 4em;
    display: block;
    margin: .75em 0;
    position: relative;
    -webkit-hyphens: manual;
       -moz-hyphens: manual;
        -ms-hyphens: manual;
            hyphens: manual;
    &:hover {
        text-decoration: none;
        @include box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.1));
        h3 {
            color: $colour_primary;
        }

    }
    h3 {
        font-weight: $weight_light;
    }
}

.featured-elements__unit {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(6);
    }
    @media (min-width: $large-screen) {
        @include grid-column(3);
    }
}

.featured-block__date {
    position: absolute;
    width: 100%;
    border-top: 1px solid darken($colour_light_grey, 5%);
    bottom: 0;
    left: 0;
    color: $colour_dark_grey;
    line-height: 3em;
    height: 3em;
    font-size: 0.75em;
    text-transform: uppercase;
}

.centered-form {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(6, $center:true);
    }
    @media (min-width: $large-screen) {
        @include grid-column(4, $center:true);
    }
}

.nothing-here-yet-message {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(8, $center:true);
    }
    @media (min-width: $large-screen) {
        @include grid-column(6, $center:true);
    }
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    @media (min-width: $medium-screen) {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

/* Marketing home page */

.sayit-homepage {
    background-color: $colour_off_white;
    .full-page > .full-page__row > .full-page__unit {
        padding: 0;
    }
    h2 {
        font-weight: normal;
        margin-bottom: 0.25em;
        @media (min-width: $medium-screen) {
            font-size: emCalc(30);
        }
    }
    h3 {
        font-weight: normal;
        @media (min-width: $medium-screen) {
            font-size: emCalc(18);
        }
    }

    h2,
    h3,
    .sub-heading {
        max-width: 33em;
        margin-left: auto;
        margin-right: auto;
    }

    .major-heading {
        font-size: emCalc(28);
        margin-bottom: 0.2em;
        line-height: 1.2em;
         @media (min-width: $medium-screen) {
            font-size: emCalc(36);
        }
    }

    .mid-heading {
        font-size: emCalc(21);
        @media (min-width: $medium-screen) {
            font-size: emCalc(24);
        }
    }

    .sub-heading {
        font-size: 1em;
        @media (min-width: $medium-screen) {
            font-size: emCalc(18);
        }
        color: $colour_dark_grey;
    }

    .homepage-section {
        padding: 1em 0;
         @media (min-width: $medium-screen) {
            padding: 4em 0;
        }
        border-bottom: 1px solid $colour_light_grey;
    }

    .the-problem {
        .full-page__row {
            position: relative;
        }
        padding-top: 3em;
        padding-bottom: 3em;
        background-color: $colour_off_white;
        background-image: url('../img/papers-bg.jpg');
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
        @media (min-width: $medium-screen) {
            padding-bottom: 0;
        }
        .mid-heading {
            @media (max-width: $medium-screen) {
                font-size: 1em;
            }
            color: $colour_dark_grey;
            font-weight: $weight_light;
        }
    }

    .the-problem__messaging {
        @include grid-column(12);
        text-align: center;
        @media (min-width: $medium-screen) {
            @include grid-column(7);
            .words {
               padding-top: 2em;
               text-align: left;
            }
        }
        @media (min-width: $large-screen) {
            @include grid-column(6);
        }
        @media (min-width: $large-screen) {
            .words {
               padding-top: 6em;
            }
        }
        @media (min-width: $huge-screen) {
            .words {
               margin-left: -2em;
            }
        }
    }

    .the-problem__figure {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(5);
        }
        @media (min-width: $large-screen) {
            @include grid-column(6);
        }
        .circa-messaging {
            @extend .hide-on-small;
            @media (min-width: $medium-screen) {
                width: 271px;
                height: 31px;
                background-image: url('../img/modern-transcript-pointer.png');
                @include background-size(271px 31px);
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/modern-transcript-pointer@2.png');
                }
                background-position: top left;
                background-repeat: no-repeat;
                position: absolute;
                top: 70%;
                left: 31%;
            }
            @media (min-width: $large-screen) {
                top: 80%;
                left: 42.5%;
            }

        }
        .old-transcript {
            @extend .hide-on-small;
            @media (min-width: $medium-screen) {
                position: relative;
                left: -11em;
                width: 439px;
                height: 389px;
                background-image: url('../img/old-transcript.jpg');
                @include background-size(439px 389px);
                background-position: top left;
                background-repeat: no-repeat;
                 @include box-shadow(0 0 9px rgba(0,0,0,0.4));
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/old-transcript@2.jpg');
                }

            }
            @media (min-width: $large-screen) {
                position: relative;
                left: 0;
            }
            @media (min-width: $huge-screen) {
                left: 3em;
            }
        }
    }
    .the-solution {
        position: relative;
        z-index: 300;
        background: #333;
        background-image: url('../img/blurred-product-background.jpg');
        @include background-size(cover);
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 2em;
        color: #fff;
        border-bottom: 1px solid $colour_light_grey;
        @media (min-width: $medium-screen) {
            padding-top: 4em;
        }
        h2 {
            color: #fff;
        }
        .status {
            bottom: 2em;
            left: 50%;
            margin-left: -43.5px;
            @media (min-width: $medium-screen) {
                top: 1em;
                right: 1em;
                left: auto;
            }
            @media (min-width: $large-screen) {

            }
        }
    }

    .the-solution__messaging {
        @include grid-column(12);
        position: relative;
        .words {
            text-align: center;
        }
        @media (min-width: $medium-screen) {
            @include grid-column(6);
             .words {
                position: absolute;
                top: 0;
                left: 2em;
                text-align: left;
            }
        }
        @media (min-width: $large-screen) {
            .words {
                top: 3em;
                left: 4em;
            }
        }
        .mid-heading {
            font-weight: $weight_light;
        }

    }

    .the-solution__figure {
        @include grid-column(12);
         @media (min-width: $medium-screen) {
            @include grid-column(6, $offset:6);
        }
    }

    .sayit-screenshot--desktop {
        width: 100%;
        height: 150px;
        @include background-size(cover);
        background-image: url('../img/sayit-screenshot-desktop.jpg');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/sayit-screenshot-desktop@2.jpg');
        }
        background-position: center top;
        background-repeat: no-repeat;
        @media (min-width: $medium-screen) {
            width: 668px;
            height: 300px;
            @include background-size(668px 337px);
            background-position: top left;
        }
    }

    .sayit-demos {
        position: relative;
        z-index: 400;
    }

    .page-wrapper {
        background: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        @include box-shadow(0 0 4px rgba(0, 0, 0, 0.3));
    }

    .build-with-sayit,
    .a-poplus-component,
    .development-roadmap,
    .questions-and-answers,
    .we-need-help,
    .sayit-demos {
        @extend .homepage-section;
        @include clearfix;
        h2,
        .sub-heading,
        .mid-heading, {
            text-align: center;
        }
    }

    .inverse-section {
        background-color: $colour_primary;
        color: #fff;
        @include clearfix;
        a {
            color: #fff;
        }
        h2,
        .sub-heading {
            color: #fff;
        }
        h3 {
            color: lighten($colour_primary, 33%);
        }
        .button {
            background-color: darken($colour_primary, 10%);
            &:hover {
                background-color: darken($colour_primary, 15%);
            }
        }
    }

    .list-of-demos {
        @include grid-row($behavior:nest);
        list-style: none outside none;
        li {
            @include grid-column(12);
            margin-bottom: 1em;
            @media (min-width: $medium-screen) {
                //@include grid-column(6);
                @include grid-column(4);
            }
            @media (min-width: $large-screen) {
                //@include grid-column(3); *put back when fourth speech set is online
            }
        }
        a {
            display: block;
            text-align: center;
            width: 100%;
            color: #fff;
            background-color: #398db8;
            padding: 3.5em 0;
            font-weight: $weight_light;
            line-height: 1.6em;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 187px;
            @include background-size(167px 156px);
            &:hover,
            &:active,
            &:focus {
                background-color: darken(#398db8, 10%);
                text-decoration: none;
            }
            &.conservative-icon {
                background-image: url('../img/tie.png');
                 @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/tie@2.png');
                }
            }
            &.leveson-icon {
                background-image: url('../img/mic.png');
                 @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/mic@2.png');
                }
            }
            &.taylor-icon {
                background-image: url('../img/gavel.png');
                 @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/gavel@2.png');
                }
            }
            &.shakespeare-icon {
                background-image: url('../img/pen.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/pen@2.png');
                }
            }
        }
        strong {
            display: block;
            font-weight: normal;
            font-size: emCalc(24);
        }

    }

    .coming-soon-heading {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 31em;
        font-size: emCalc(18);
        color: $colour_dark_grey;
        background-image: url(../img/bulb.png);
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/bulb@2.png');
        }
        background-position: left center;
        background-repeat: no-repeat;
        @include background-size(42px 69px);
        padding-left: 62px;

    }

    .build-with-sayit {
        @extend .inverse-section;
        background-image: url(../img/dev-bg.png);
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/dev-bg@2.png');
        }
        @include background-size(250px);
        background-repeat: repeat;
        background-position: -18px -24px;
        .icon-install-options {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            background-image: url(../img/install-options.png);
            background-repeat: no-repeat;
            background-position: left top;
            @include background-size(250px 87px);
            width: 250px;
            height: 87px;
             @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                background-image: url('../img/install-options@2.png');
            }
        }
    }

    .list-of-people {

        @include grid-row($behavior:nest);
        @include unstyled-list;
        li {
            @include grid-column(12);
            margin-bottom: 1em;
            text-align: center;
            padding-top: 5em;
            background-position: center top;
            background-repeat: no-repeat;
            @include background-size(90px 70px);
            &.people-reporters {
                background-image: url('../img/newspaper.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/newspaper@2.png');
                }
            }
            &.people-campaigners {
                background-image: url('../img/lightening.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/lightening@2.png');
                }
            }
            &.people-courts-officials {
                background-image: url('../img/scales.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/scales@2.png');
                }
            }
            &.people-researchers {
                background-image: url('../img/glasses.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/glasses@2.png');
                }
            }
            &.people-servants {
                background-image: url('../img/paperclip.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/paperclip@2.png');
                }
            }
            &.people-developers {
                background-image: url('../img/chemistry.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/chemistry@2.png');
                }
            }
            &.people-interested {
                background-image: url('../img/drink.png');
                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/drink@2.png');
                }
            }
        }
        &.list-of-people--grid-three {
            @include grid-column(12);
            li {
                @media (min-width: $medium-screen) {
                    @include grid-column(4);
                    margin-bottom: 0;
                    margin-top: 2em;
                }
            }
        }
        &.list-of-people--grid-two {
            @include grid-column(8, $offset:2);
            li {
                @media (min-width: $medium-screen) {
                @include grid-column(6);
                    margin-bottom: 0;
                    margin-top: 2em;
                }
            }
        }
        p {
            color: $colour_dark_grey;
        }
    }

    .next-actions {
        @extend .inverse-section;
        strong {
            font-weight: normal;
            font-size: emCalc(18);
            @media (min-width: $medium-screen) {
                font-size: emCalc(24);
            }
            line-height: 1.25em;
            max-width: 13em;
            display: inline-block;
        }
        .action-type {
            @include grid-column(12);
            padding: 1em 0;
            background-position: right bottom;
            background-repeat: no-repeat;
            text-align: center;
            @include background-size(167px 204px);
            @media (min-width: $medium-screen) {
                padding: 2em 0;
            }
            @media (min-width: $medium-screen) {
                @include grid-column(6);
            }
        }

        .action-type--developers {
            background-image: url('../img/octocat.png');
            border-bottom: 1px solid darken($colour_primary, 5%);
            @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                    background-image: url('../img/octocat@2.png');
                }
            @media (min-width: $medium-screen) {
                border-right: 1px solid darken($colour_primary, 5%);
                border-bottom: none;
            }
        }

        .action-type--non-technical {
            background-image: url('../img/plant.png');
            @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
                background-image: url('../img/plant@2.png');
            }
        }
    }

    .status {
        /* badges used around the homepage */
        position: absolute;
        display: block;
        width: 87px;
        height: 87px;
        @include background-size(87px);
        background-position: center;
        background-repeat: no-repeat;
        @extend .image-replacement;
    }

    .status-complete {
        background-image: url('../img/done-mark.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/done-mark@2.png');
        }
    }

    .status-next {
        background-image: url('../img/next-mark.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/next-mark@2.png');
        }
    }

    .status-alpha {
        background-image: url('../img/alpha-mark.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/alpha-mark@2.png');
        }
    }

    .development-roadmap {
        .phases {
            @include grid-row($behavior:nested);
            margin-top: 4em;
            margin-bottom: 2em;
        }
        .phase-column {
            @include grid-row(12);
            margin-bottom: 1em;
            &:first-child {
                margin-bottom: 3em;
            }
            @media (min-width: $medium-screen) {
                @include grid-column(6);
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
        .roadmap-entry {
            border: 1px solid $colour_light_grey;
            @include border-radius(6px);
            padding: 1.5em;
            position: relative;
            @media (min-width: $medium-screen) {
                margin: 0 2em;
            }
            h3 {
                margin-top: 0;
                margin-bottom: 0.25em;
                @media (min-width: $medium-screen) {
                    font-size: emCalc(21);
                }
            }
        }
        .status {
        top: -2.5em;
        right: -1.5em;

    }

        p {
            color: $colour_dark_grey;
            margin-bottom: 0;
        }
    }

    .questions-and-answers  {
        .questions {
            @include grid-row($behavior:nested);
        }
        .question-column {
        @include grid-column(12);
        margin-bottom: 1em;
        @media (min-width: $medium-screen) {
            @include grid-column(6);
        }
        @media (min-width: $large-screen) {
            &:first-child {
                @include grid-column(5, $offset:1);
            }
            &:last-child {
                @include grid-column(5, $pull:1);
            }
        }
    }
    }
}
.questions-and-answers {
    dd {
        color: lighten($colour_dark_grey, 5%);
    }
}
.content-page,
.questions-and-answers {
    /* Used on homepage and FAQs pages */
    dt {
        font-weight: normal;
        margin-top: 1em;
        p {
            margin-bottom: 0;
        }
    }
}

.content-page {
    p, ol, ul {
        max-width: 37em;
    }
    h2 {
        font-weight: normal;
        margin-bottom: 0.25em;
        @media (min-width: $medium-screen) {
            font-size: emCalc(30);
        }
    }
    dt {
        font-weight: $weight_bold;
        font-size: emCalc(18);
        @media (min-width: $medium-screen) {
            font-size: emCalc(21);
        }

    }
}
.footer {
    a {
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            color: $colour_primary;
        }
    }
}
/* Instance footer */
.instance-footer {
    background: darken($colour_black, 10%);
    @media (min-width: $medium-screen) {
        border-top: 6px solid $colour_primary;
    }
}

.instance-footer__row {
    @include grid-row;
}

.instance-footer__links {
    @include grid-column(12);
    margin-bottom: 1em;
    @media (min-width: $medium-screen) {
        @include grid-column(8);
        margin-bottom: 0;
    }
    @media (min-width: $large-screen) {
        @include grid-column(10);
    }
    ul {
        @extend .unstyled-list;
        @include inline-list;
        margin-top: 1.1em;
        text-align: center;
        @media (min-width: $medium-screen) {
            text-align: left;
        }
    }
    li {
        border-right: 1px solid $colour_black;
        padding-right: .5em;
        &:last-child {
            border-right: none;
        }
    }
    a {
        font-size: emCalc(14);
        &.instance-title {
            font-size: emCalc(16);
        }
    }
}

.instance-footer__top-link {
    @include grid-column(12);
    text-align: center;
    @media (min-width: $medium-screen) {
        @include grid-column(4);
        text-align: right;
    }
    @media (min-width: $large-screen) {
        @include grid-column(2);
    }
    .button {
        @media (min-width: $medium-screen) {
            @include border-radius(0 0 3px 3px);
        }
        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }

    }
}

/* Brand footer */
.brand-footer {
    padding: 3em 0;
    color: $colour_light_grey;
    background-color: #222;
    h2 {
        color: #fff;
        font-size: emCalc(18);
        font-weight: $weight_bold;
    }
    p {
        font-size: emCalc(14);
        letter-spacing: 0.02em;
    }
}

.brand-footer__row {
    @include grid-row;
}

.about-sayit {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(3);
    }
}


.footer-links {
    @include grid-column(12);
    @include clearfix;
    @media (min-width: $medium-screen) {
        @include grid-column(5);
    }
}

.footer-links__column {
    width: 33.3333%;
    float: left;
    ul {
        @include unstyled-list;
        font-size: emCalc(14);
        margin-top: emCalc(30);
    }
}

.footer-logos {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(4);
    }
}

.footer-logos__column {
    @include grid-column(6);
    margin-top: emCalc(30);
    p {
        font-size: emCalc(11);
    }
    .footer-logo {
        display: block;
        @extend .image-replacement;
        width: 93px;
        height: 19px;
        @include background-size(93px 19px);
        margin-bottom: 0.5em;
    }
    .footer-logo--mysociety {
        background-image: url('../img/mysociety-logo.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/mysociety-logo@2.png');
        }
    }
    .footer-logo--poplus {
        background-image: url('../img/poplus-logo.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/poplus-logo@2.png');
        }
    }
}
