/* Speeches stylesheet */
@import "_sayit-mixins.scss";
@import "compass/css3";

/* breadcrumb
 * Foundation puts the breadcrumb divider before the link, we want it afterwards
 */
.breadcrumbs {
    margin-bottom: 0;
     > *:before {
        content: " ";
        margin: 0;
    }
     > *:after {
       content: "/";
       color: #ccc7c3;
       margin: 0 0;
       position: relative;
       top: 1px;
       padding: 0 0.5em;
    }
}

.breadcrumbs__date {
  color: $colour_dark_grey;

}

.no-content-after {
  &:after {
    content: none;
  }
}

.page-header {
    position: relative;
    padding: 2em 0;
    border-bottom: 1px solid $colour_light_grey;
    margin-bottom: 1em;
    @include clearfix();
    .action-button {
        position: absolute;
        top: 4em;
        right: 0;
    }
    h1 {
        margin: 0;
        @media (min-width: $small-screen) {
            line-height: 1em;
        }
    }
}

.page-header--with-portrait {
    h1 {
      margin-left: 80px;
      @media (min-width: $medium-screen) {
          margin-left: 130px;
      }
    }
    .lead {
      margin-left: 130px;
      margin-top: 1em;
      margin-bottom: 0;
      font-weight: $weight_light;
    }

    .speaker-portrait {
      margin-top: 0;
    }
}

.pager {
    @include unstyled-list;
    margin: 1em 0;
    border-top: 1px solid $colour_light_grey;
  a {
    display: block;
    padding: .5em 2em;
    border: 1px solid $colour_light_grey;
    border-top: none;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
      border-color: $colour_primary;
      background: $colour_primary;
      color: #fff;
      text-decoration: none;
    }
  }
}

.section-signpost {
  width: 100%;
  border-bottom: 1px solid $colour_light_grey;
  margin-bottom: 1em;
  padding-bottom: 1em;
  a {
    font-weight: $weight_bold;
  }
}

.speech {
  margin-bottom: 2.5em;
  position: relative;
  @include clearfix;
}

.speaker-portrait-wrapper {
  @media (max-width: $medium-screen) {
    display: inline;
    width: auto;
    padding: 0;
    float: none;
  }
}

.speech-wrapper {
  @media (max-width: $medium-screen) {
    display: inline;
    width: auto;
    padding: 0;
    float: none !important;
  }
}
.speaker-portrait {
  max-width: 100%;
  border: 4px solid transparent;
}

.speaker-portrait--left {
  float: left;
}

.speaker-portrait--small {
  width: 72px;
}

.speaker-portrait--medium {
  width: 64px;
  @media (min-width: $medium-screen) {
      width: 96px;
  }
}

.speaker-portrait--large {
  width: 120px;
}

.speech__meta-data {
  margin-left: 5em;
  span {
    display: block;
  }

  @media (min-width: $small-screen) {
    margin-left: 0;
    span {
      display: inline;
    }
  }
}

.speech__meta-data__speaker-name {
  margin-right: .5em;
  font-weight: $weight_bold;
}

.speech__content {
  font-family: Georgia, Times, 'Times New Roman', Serif;
  font-size: 1.0625em; /* 17px */
  clear: both;
  margin-top: 0.5em;
  border-bottom: 1px solid $colour_light_grey;
  @media (min-width: $small-screen) {
      font-size:  1.1875em; /* 19px */
  }
  p {
    margin-bottom: 1em;
  }
}

.speech__links {
  background: #fff;
  position: absolute;
  bottom: -1.1em;
  right: 0;
  padding: .5em 1em .5em 0;
  a {
    text-transform: uppercase;
    font-weight: $weight_bold;
    color: $colour_dark_grey;
    font-size: 0.6875em;
    margin-left: 1em;
    &:hover,
    &:active,
    &:focus {
      color: $colour_primary;
    }
  }
}

/* Hide speech__links on devices capable of hover, reveal on hover or focus of speech */
.no-touch {
  .speech__links {
    display: none;
  }

  .speech:hover,
  .speech:focus,
  .speech *:hover,
  .speech *:focus {
    .speech__links {
     display: block;
    }

  }
}

/* Speaker list page */
.speaker-list {
  @include grid-layout;
  @include unstyled-list;
  li {

  }
  a {
    color: $colour_dark_grey;
    &:hover {
      .speaker-card {
        @media (min-width: $medium-screen) {
          @include box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.1));
        }
      }
    }
  }
}

.speaker-card {
    border-bottom: 1px solid $colour_light_grey;
    @include clearfix;
    @include border-radius(3px);
    padding: 0.75em 0;
    @media (min-width: $medium-screen) {
      min-height: 11.5em;
      overflow: hidden;
      text-align: center;
      padding: 1.5em 0.75em;
      margin: 0.75em;
      border: 1px solid $colour_light_grey;
    }

}

.speaker-card__portrait {
    height: 48px;
    width: 48px;
    margin-right: 0.75em;
    @media (min-width: $medium-screen) {
      height: 72px;
      width: 72px;
      display: block;
      margin: 0 auto 0.5em;
    }
}

/* Search results */
.speech--search-result {
  .speech__meta-data {
    a {
      color: $colour_black;
    }
  }
  .speech__content {
    a {
      color: $colour_black;
      &:hover,
      &:focus,
      &:active {
        color: $colour_primary;
      }
    }
  }
}

.sidebar {
  background: $colour_off_white;
  padding: 1.5em;
}

.stat {
  margin-bottom: 1em;
}

.stat__descriptor {
  font-size: 0.875em;
  color: $colour_dark_grey;
}
.stat__figure {
  font-weight: $weight_bold;
  font-size: 1.3125em;
  margin-bottom: 0.15em;
}

.speaker-card__name {
  font-size: 0.875em;
}

.round-image {
  @include border-radius(100%);
}




