/* Speeches stylesheet */
@import "_sayit-mixins.scss";
@import "compass/css3";

.speech:target {
    background-color: #ffc;
}

/* breadcrumb
 * Foundation puts the breadcrumb divider before the link, we want it afterwards
 */
.breadcrumbs {
    margin-bottom: 0;
     > *:before {
        content: " ";
        margin: 0;
    }
     > *:after {
       content: "/";
       color: #ccc7c3;
       margin: 0 0;
       position: relative;
       top: 1px;
       padding: 0 0.5em;
    }
}

.breadcrumbs__date {
  color: $colour_dark_grey;

}

.no-content-after {
  &:after {
    content: none;
  }
}

.page-header {
    position: relative;
    padding: 2em 0;
    border-bottom: 1px solid $colour_light_grey;
    @include clearfix();
    .action-button {
        position: absolute;
        top: 4em;
        right: 0;
    }
    h1 {
        margin: 0;
        @media (min-width: $small-screen) {
            line-height: 1em;
        }
    }
}

.page-header__row {
  @include grid-row(nest);
}

.page-header--with-portrait {
  .speaker-information {
    margin-left: 80px;
    @media (min-width: $medium-screen) {
        margin-left: 130px;
    }
  }
  h1 {
  }
  .lead {
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: $weight_light;
  }

  .speaker-portrait {
    margin-top: 0;
  }
}

.pretitle {
  margin-bottom: 0;
  font-size: emCalc(14);
}

.person-summary {
  font-size: emCalc(14);
  color: $colour_dark_grey;
  line-height: 1.357142857em;
  margin-top: emCalc(14);
}

.pager {
    @include unstyled-list;
    margin: 1em 0;
    border-top: 1px solid $colour_light_grey;
  a {
    display: block;
    padding: .5em 2em;
    border: 1px solid $colour_light_grey;
    border-top: none;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
      border-color: $colour_primary;
      background: $colour_primary;
      color: #fff;
      text-decoration: none;
    }
  }
}


.speech + .section-signpost {
  padding-top: 1.5em;
}
.section-signpost {
  width: 100%;
  border-bottom: 1px solid $colour_light_grey;
  margin-bottom: 1em;
  padding-bottom: 1em;
  a {
    font-weight: $weight_bold;
  }
}

.speech {
  padding-top: 1em;
  position: relative;
  @include clearfix;
  @include grid-row(nest);
}

.speech--with-portrait {
  padding-top: 1em;
  @media (min-width: $medium-screen) {
    background: transparent url('../img/speech-timeline-bg.png') 4% top repeat-y;
    padding-top: 1em;
    &:first-child {
      padding-top: 1em;
    }
  }
}

.speaker-portrait-wrapper {
  text-align: center;
  @media (min-width: $medium-screen) {
    @include grid-column(1);
  }
}

.speech-wrapper {
  @media (max-width: $medium-screen) {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
  @media (min-width: $medium-screen) {
    @include grid-column(11);
  }
}

.speaker-portrait {
  max-width: 100%;
  border: 4px solid transparent;
  @media (max-width: $medium-screen) {
    margin-left: 0.75em;
  }
}

.speaker-portrait--left {
  float: left;
  @media (min-width: $medium-screen) {
    float: left;
  }
}

.speech--with-portrait .speaker-portrait--left {
  // in speech sections with a speaker portrait we don't want to float it, a we're using text-align: center
  @media (min-width: $medium-screen) {
    float: none;
  }
}

.speaker-portrait--small {
  width: 36px;
}

.speaker-portrait--medium {
  width: 48px;
  @media (min-width: $medium-screen) {
      width: 64px;
  }
}

.speaker-portrait--large {
  width: 96px;
}

.speech__meta-data {
  margin-bottom: .75em;
  span {
    display: block;
  }

  @media (min-width: $medium-screen) {
    margin-bottom: 0;
    span {
      display: inline;
    }
  }
}
.speech--with-portrait .speech__meta-data {
  margin-left: 4em;
  @media (min-width: $medium-screen) {
    margin-left: 0;
  }

}


.speech__meta-data__speaker-name {
  margin-right: .5em;
  font-weight: $weight_bold;
}

.speech__content {
  font-family: Georgia, Times, 'Times New Roman', Serif;
  font-size: 1.0625em; /* 17px */
  clear: both;
  margin-top: 0em;
  border-bottom: 1px solid $colour_light_grey;
  @media (min-width: $small-screen) {
      font-size:  1.1875em; /* 19px */
  }
  p {
    margin-bottom: 1em;
  }
}

.speech__links {
  position: absolute;
  bottom: -0.25em;
  right: 0;
  padding: .5em 1em .5em 0;
  z-index: 300;
  a {
    color: $colour_dark_grey;
    font-size: emCalc(14);
    margin-left: 1.5em;
    padding-left: 1em;
    display: inline-block;
    position: relative;
    &:hover,
    &:active,
    &:focus {
      color: $colour_primary;
    }
  }
}

/* Icons for speech links */
.speech-icon {
  height: 21px;
  width: 21px;
  display: inline-block;
  @include background-size(60px 20px); /* This is to render the @2 size sprite correctly, change this if more sprites are added to the .png */
  background-image: url('../img/link-icons.png');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url('../img/link-icons@2.png');
  }
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0.1em;
  left: -0.75em;
  &.icon-link {
    background-position-x: -40px
  }
  &.icon-link-in-context {
    background-position-x: -20px
  }
}

.speech--narrative {
  //a speech with no speaker, we assume it's narrative information, like "Adjourned for 10 minutes" or similar
  background: #f4f4f4;
  border-bottom: 1px solid $colour_light_grey;
  border-top: 1px solid $colour_light_grey;
  margin-top: -1px; // a cheeky way to hide the border of the element that comes before it, as we can't select a preceding sibling
  .speech__links {
    background: transparent;
  }
  .speech__content {
    border-bottom: none;
    font-family: $body-font-family;
  }
  .speech-wrapper {
    @media (min-width: $medium-screen) {
      @include grid-column(11, $offset:1);
    }
  }
}

/* Hide speech__links on devices capable of hover, reveal on hover or focus of speech */
.no-touch {
  .speech__links {
    display: none;
  }

  .speech:hover,
  .speech:focus,
  .speech *:hover,
  .speech *:focus {
    .speech__links {
     display: block;
    }

  }
}

/* Speaker list page */
.speaker-list {
  @include grid-layout;
  @include unstyled-list;
  li {

  }
  a {
    color: $colour_dark_grey;
    &:hover {
      .speaker-card {
        @media (min-width: $medium-screen) {
          @include box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.1));
        }
      }
    }
  }
}

.speaker-card {
    border-bottom: 1px solid $colour_light_grey;
    @include clearfix;
    @include border-radius(3px);
    padding: 0.75em 0;
    @media (min-width: $medium-screen) {
      min-height: 11.5em;
      overflow: hidden;
      text-align: center;
      padding: 1.5em 0.75em;
      margin: 0.75em;
      border: 1px solid $colour_light_grey;
    }

}

.speaker-card__portrait {
    height: 48px;
    width: 48px;
    margin-right: 0.75em;
    @media (min-width: $medium-screen) {
      height: 72px;
      width: 72px;
      display: block;
      margin: 0 auto 0.5em;
    }
}

/*Individual Speaker Page */
.speaker-page__details {
  @include grid-column(12);
  @media (min-width: $large-screen) {
      @include grid-column(7);
  }
}
.speaker-page__stats {
  @include grid-column(12);
  @media (min-width: $medium-screen) {
      margin-left: 114px;
      margin-top: -1.4em;
  }
  @media (min-width: $large-screen) {
      @include grid-column(5);
      margin-left: 0;
      margin-top: 0;
  }
}

.speaker-page__search {
  @include grid-column(12);
  @media (min-width: $medium-screen) {
      @include grid-column(4);
  }
  .site-search {
    width: 100%;
    margin-top: 0.5em;
  }
}

.js-masonry {
  @media (min-width: $medium-screen) {
    .speech {
      width: 31%;
      margin: 0 0 1em 0;

    }
    .gutter-sizer {
      width: 3%;
    }
    .speech-wrapper {
      width: auto;
      padding: 0;
    }
  }
}

.speaker-page__speeches-title {
  @include grid-column(12);
  @media (min-width: $medium-screen) {
      @include grid-column(8);
  }
  h2 {
    font-size: emCalc(24);
    font-weight: $weight-bold;
  }
}

.speaker-page__speeches-collection {
  margin-top: 1em;
  .speech-wrapper {
    @include border-radius(7px);
    border: 1px solid $colour_light_grey;
    padding: 1em;
    @include box-shadow(0px 1px 3px 0px rgba( 0, 0, 0, 0.1 ));
  }

  .speech__content {
    border-bottom: none;
    font-size: emCalc(17);
    padding-bottom: 0.5em;
  }
}


/* Search results */
.speech--search-result {
  .speech__meta-data {
    a {
      color: $colour_black;
    }
  }
  .speech__content {
    a {
      color: $colour_black;
      &:hover,
      &:focus,
      &:active {
        color: $colour_primary;
      }
    }
    em {
      font-weight: bold;
      font-style: normal;
    }
  }
}

.sidebar {
  background: $colour_off_white;
  padding: 1.5em;
  margin-top: 1.5em;
}

.stat {
  margin-bottom: 1em;
  display: inline-block;
  padding-right: 1em;
  margin-left: 1em;
  border-right: 1px solid $colour_light_grey;
  &:last-child {
    border-right: none;
  }
}

.stat__descriptor {
  font-size: emCalc(12);
  color: $colour_dark_grey;
}
.stat__figure {
  font-weight: $weight_bold;
  font-size: 1.3125em;
  margin-bottom: 0.15em;
}

.speaker-card__name {
  font-size: 0.875em;
}

.round-image {
  @include border-radius(100%);
}

/* Single speech page */
.single-speech-layout {
  @include grid-row(nest);
}

.single-speech-layout__speech-column {
  @include grid-column(12);
  @media (min-width: $large-screen) {
      @include grid-column(10, $offset: 2);
  }
}

.speech-single-speech {
  padding: 3% 3% 3em;
  border: 1px solid $colour_light_grey;
  margin: 1em 0;
  @include border-radius(7px);
  .breadcrumbs {
    border: none;
  }
  .speech__meta-data {
    margin-bottom: 1em;
    font-size: 1.125em;
  }
  .speech__links {
    bottom: 0.5em;
    left: 1%;
    @media (min-width: $medium-screen) {
        right: 1%;
        left: auto;
    }
    display: block;
    .speech-icon {
      top: -0.15em;
    }
  }
}

.speech__content-single-speech {
  border: none;
  p {
    @media (min-width: $medium-screen) {
      font-size: 1.105263158em;
      line-height: 1.523809524em;
    }
  }

}


