{% extends 'base.html' %}
{% load i18n %}

{% block fulltitle %}{% trans "Welcome to SayIt" %}{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{% trans "SayIt &mdash; Simple, beautiful transcripts " %}</h1>
    <p>{% trans "A repository of speeches, written questions, dialogues, what have you. We're working on it." %}</p>
</div>

<div class="row-fluid">
<div class="span8">
    <p>
    SayIt is a component for storing structured speech information, including debates, speeches, or plays.
    It can act both as a standalone site for hosting, or as a Django app embedded within another project.
    </p>
</div>
<div class="span4">
<h2>{% trans "Instances" %}</h2>
<ul>
  {% for i in instances %}
    <li><a href="{{ i.get_absolute_url }}">{{ i }}</a></li>
  {% empty %}
    <li>{% trans "No instances present." %}</li>
  {% endfor %}
</ul>
</div>

{% endblock %}
