{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit instance" %}{% endblock %}

{% block content %}

    <h1>{% trans "Edit instance" %}</h1>

    <p class="lead edit-instance">
        {% trans "Edit the title and description of your instance here." %}
    </p>

<form id="instance-form" class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-error alert-block">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="control-group {% if field.errors %}error{% endif %}" id="{{ field.auto_id}}_controls">
            {{ field.label_tag }}
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
                <span class="help-inline">{{ field.help_text }}</span>
            </div>
        </div>
    {% endfor %}

    <div class="form-actions">
        <input type="submit" id="instance_submit" class="btn" value="{% trans "Update instance" %}">
    </div>

</form>

{% endblock %}
